<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			height: 525px;
		}

		.auto-style2 {
			font-family: 標楷體;
			width: 91px;
			text-align: center;
		}

		.auto-style3 {
			font-family: 標楷體;
			text-align: right;
		}
		.auto-style4 {
			font-size: medium;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<table class="auto-style1">
		<tr>
			<td class="auto-style2">
				1級
			</td>
			<td class="auto-style4">
				適當(能正常交談、看電視、接電話)
			</td>
		</tr>
		<tr>
			<td class="auto-style2">
				<input type="button" class="btn btn-primary" value="2級" />
			</td>
			<td class="auto-style4">
				輕度障礙(在吵雜的環境下有障礙)
			</td>
		</tr>
		<tr>
			<td class="auto-style2">
				<input type="button" class="btn btn-primary" value="3級" />
			</td>
			<td class="auto-style4">
				中度障礙(在安靜的環境下，需要說話者調整音量才可聽見)
			</td>
		</tr>
		<tr>
			<td class="auto-style2">
				<input type="button" class="btn btn-primary" value="4級" />
			</td>
			<td class="auto-style4">
				重度障礙(喪失聽覺)
			</td>
		</tr>

	</table>
	<div class="auto-style3">
		<br />
		<br />
		<br />
		<br />
		@Html.ActionLink("上一頁", "Guardian_of_the_month_Home_attendant", "Home", new { @class = "btn btn-danger " })
	</div>
</body>
</html>