<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: left;
		}

		.auto-style3 {
			width: 55px;
			height: 43px;
		}

		.auto-style4 {
			width: 357px;
			text-align: center;
		}

		.auto-style5 {
			width: 114px;
			text-align: center;
		}

		.auto-style6 {
			width: 320px;
		}

		.auto-style8 {
			width: 357px;
		}

		.auto-style9 {
			width: 84px;
			text-align: center;
		}

		.auto-style10 {
			width: 56px;
			height: 40px;
		}

		.auto-style11 {
			width: 52px;
			height: 41px;
		}

		.auto-style12 {
			width: 276px;
			height: 156px;
		}

		.auto-style13 {
			text-decoration: underline;
		}
		.auto-style14 {
			font-size: medium;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div class="auto-style1">
			<div style="background-color:#0d62c3;" class="auto-style2">&nbsp;&nbsp; <input type="image" src="../../images/側欄按鈕.png" onclick="location.href='@Url.Action("Transitions", "Home")'" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Font color="#FFFFFF" size="5" face="標楷體">
					每次工作紀錄
				</Font>
			</div>
		</div>
		<br />
	</div>
	<table align="center">
		<tr>
			<td bgcolor="#FF4081">
				<font color="#FFFFFF" size="5" face="標楷體">&nbsp;&nbsp; <span class="auto-style14">BA024 協助排泄</span><img src="../../images/協助排泄.png" class="auto-style3" />&nbsp;&nbsp;&nbsp; </font>
				&nbsp;
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table style="border:2px #0d62c3" border="1" align="center" class="auto-style6">
		<tr>
			<td bgcolor="#FFFFFF">
				<font color="0d62c3" size="5" face="標楷體">
					<span class="auto-style14">1.依長照需要者之需要完成以下全部或部分項目: <span class="auto-style13">協助移位或引導至浴間、支持及協助一般小便、大便,及處理汗、痰或嘔吐物、觀察排泄物、尿袋更換、造廔袋清理、人工肛門造口周圍的照料(含造口袋的更換和排空)<br />
				、生殖器官照顧的事後檢視、介紹如何大、小便控制/失禁處理。</span><br />
					<br />
					2.若於執行BA01或BA07過程中同時執行,則不得併計。</span><br />
				</font>
			</td>
		</tr>
	</table>


	<p>
		&nbsp;
	</p>
	<p>
		&nbsp;
	</p>
	<table align="center">
		<tr>
			<td class="auto-style5">
				<font face="標楷體" color="#8d2c4d" size="5">
					<strong>
						<span class="auto-style14">服務
						<br />
						紀錄</span>
					</strong>
				</font>
			</td>
			<td class="auto-style4">
				<input type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
				<br />
				<img src="../../images/照片icon.png" id="blah" alt="your image" class="auto-style12" />
			</td>
		</tr>
	</table>
	<p>
		&nbsp;
	</p>
	<p>
		<br />
	</p>
	<table align="center" class="auto-style8">
		<tr>
			<td class="auto-style1">
				<button type="submit">
					<img src="../../images/刪除符號.png" class="auto-style11" />
				</button>
			</td>
			<td class="auto-style9">
				0
			</td>
			<td class="auto-style1">
				<button type="submit">
					<img src="../../images/增加符號.png" class="auto-style10" />
				</button>
			</td>
		</tr>
	</table>

	<div class="auto-style1">
		<br />
		<br />
		<br />
		<br />
		<input type="button" class="btn btn-primary btn-lg" value="存檔" />
		<br />
		<br />
		<br />
	</div>
</body>
</html>
