<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: left;
		}

		.auto-style3 {
			width: 37px;
			height: 29px;
		}

		.auto-style4 {
			width: 357px;
			text-align: center;
		}

		.auto-style5 {
			width: 114px;
			text-align: center;
		}

		.auto-style6 {
			width: 320px;
		}

		.auto-style7 {
			text-decoration: underline;
		}

		.auto-style8 {
			width: 357px;
		}

		.auto-style9 {
			width: 84px;
			text-align: center;
		}

		.auto-style10 {
			width: 56px;
			height: 40px;
		}

		.auto-style11 {
			width: 52px;
			height: 41px;
		}

		.auto-style12 {
			width: 276px;
			height: 156px;
		}
		.auto-style13 {
			font-size: medium;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div class="auto-style1">
			<div style="background-color:#0d62c3;" class="auto-style2">&nbsp;&nbsp; <input type="image" src="../../images/側欄按鈕.png" onclick="location.href='@Url.Action("Transitions", "Home")'" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Font color="#FFFFFF" size="5" face="標楷體">
					每次工作紀錄
				</Font>
			</div>
		</div>
		<br />
	</div>
	<table align="center">
		<tr>
			<td bgcolor="#FF4081">
				<font color="#FFFFFF" size="5" face="標楷體">&nbsp;&nbsp; <span class="auto-style13">BA04 協助進食或管灌餵食</span> <img src="../../images/協助餵食或灌食icon.png" class="auto-style3" />&nbsp;&nbsp;&nbsp; </font>
				&nbsp;
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table style="border:2px #0d62c3" border="1" align="center" class="auto-style6">
		<tr>
			<td bgcolor="#FFFFFF">
				<font color="0d62c3" size="5" face="標楷體" class="auto-style13">
					1.內容包括: <span class="auto-style7">
						進食環境(含長照需要者安置)準備、加熱飯菜、餐具準備、協助餵食(或灌食)、觀察進食的量及反應,提供受照顧者及家屬有關協助進食或管灌餵食的諮詢和討論,以及善後等。<br />
					</span><br />
					2.對於個案或家庭照顧者給予指導、鼓勵或參與式照顧,以維持或提升個案自我照顧潛能。<br />
				<br />
				3.本組合1餐為1組合。</font></td>
		</tr>
	</table>


	<p>
		&nbsp;
	</p>
	<p>
		&nbsp;
	</p>
	<table align="center">
		<tr>
			<td class="auto-style5">
				<font face="標楷體" color="#8d2c4d" size="5">
					<strong>
						<span class="auto-style13">服務				 
				<br />
				紀錄</span>
					</strong>
				</font>
			</td>
			<td class="auto-style4">
				<input type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
				<br />
				<img src="../../images/照片icon.png" id="blah" alt="your image" class="auto-style12" />
			</td>
		</tr>
	</table>
	<p>
		&nbsp;
	</p>
	<p>
		<br />
	</p>
	<table align="center" class="auto-style8">
		<tr>
			<td class="auto-style1">
				<button type="submit">
					<img src="../../images/刪除符號.png" class="auto-style11" />
				</button>
			</td>
			<td class="auto-style9">
				0
			</td>
			<td class="auto-style1">
				<button type="submit">
					<img src="../../images/增加符號.png" class="auto-style10" />
				</button>
			</td>
		</tr>
	</table>

	<div class="auto-style1">
		<br />
		<br />
		<br />
		<br />
		<input type="button" class="btn btn-primary btn-lg" value="存檔" />
		<br />
		<br />
	</div>
</body>
</html>
