<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}
		.auto-style2 {
			font-family: 標楷體;
			text-align: right;
		}
		.auto-style3 {
			width: 622px;
			height: 346px;
		}
		.auto-style4 {
			font-family: 標楷體;
			font-size: xx-large;
		}
		.auto-style5 {
			width: 800px;
		}

		.auto-style6 {
			font-family: 標楷體;
			font-size: xx-large;
			width: 44px;
			text-align: right;
		}

	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
			<div style="background-color:#0000C2;" class="auto-style4">
				<table class="auto-style5">
					<tr>
						<td class="auto-style6">
							<input type="image" src="../../images/側欄按鈕.png" onclick="location.href='#'" />
						</td>
						<td>
							<Font color="#FFFFFF" size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
								照 顧 專 欄 - 照 顧 技 巧
							</Font>
						</td>
					</tr>
				</table>
			</div>
	<br />
	<div class="auto-style1">
		<font color="#ff0099" size="5">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font>
	</div>
		<div class="auto-style1">
			<br />
	<br />
	<br />
	<br />
	<iframe src="https://www.youtube.com/embed/rfh0cpyv6hc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="auto-style3"></iframe>	<br />
	<br />
	<br />
	<br />
		</div>
		<div class="auto-style2">
			<a href="http://localhost:61906/Home/Carecolumn" class="btn btn-danger btn-lg">上一頁</a>
		</div>

</body>
</html>