<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: right;
		}

		.auto-style3 {
			text-align: left;
		}

		.auto-style11 {
			text-align: right;
			width: 790px;
		}

		.auto-style12 {
			width: 488px;
		}
		.auto-style13 {
			width: 345px;
			height: 80px;
		}
		.auto-style15 {
			width: 468px;
			height: 116px;
		}
		.auto-style16 {
			width: 91px;
			text-align: center;
		}
		textarea { resize : none;}
		.auto-style18 {
			font-size: large;
		}
	</style>
</head>
<body style="background-color:#AAFFEE; width: 800px; height:1440px;">
	<div style="background-color:#0000C2;" class="auto-style1">
		<Font color="#FFFFFF" size="5">
			照顧日誌
		</Font>
	</div>
	<br />
	<div class="auto-style1">
		<font color="#ff0099" size="5">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font>
	</div>
	<br />
	<div class="auto-style3">
		<img src="~/images/日期icon(藍).png" align="bottom" /><font color="0000EB" size="5">107.11.15</font>
	</div>
	<div class="auto-style2">
		<br />
		<font color="0000EB" size="5"><strong>每日守護紀錄&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
	</div>
	<font color="#600000" size="5"><strong>生命徵象</strong></font> <img src="../../images/生命徵象icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>皮膚評估</strong></font> <img src="../../images/皮膚評估icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>疼痛評估</strong></font> <img src="../../images/疼痛評估icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>情緒評估</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>今日照顧</strong></font> <img src="../../images/醫藥箱icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>回家叮嚀</strong></font> <img src="../../images/回家叮嚀icon(紫).png" align="center" /><br />
	<div class="auto-style2">
		<br />
		<font color="0000EB" size="5"><strong>照顧計畫執行&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
	</div>
	<br />
	<font color="#600000" size="5"><strong>人際關係</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>自立運動</strong></font> <img src="../../images/自立運動icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>服藥情況</strong></font> <img src="../../images/醫藥箱icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>飲食情況</strong></font> <img src="../../images/飲食情況(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>排泄情況</strong></font> <img src="../../images/排泄情況icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>特殊照顧</strong></font> <img src="../../images/特殊照顧(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>其  他</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
<table class="auto-style15">
	<tr>
		<td class="auto-style16">
			<font color="#600000"><span class="auto-style18"><strong>今日照</strong></span><strong><br class="auto-style18" /></strong><span class="auto-style18"><strong>顧情況</strong></span></font> 
			
		</td>
		<td>
			<textarea id="TextArea1" class="auto-style13"></textarea>
		</td>
	</tr>
</table>
	<br />
	<table class="auto-style15">
		<tr>
			<td class="auto-style16">
				<font color="#600000" ><span class="auto-style18"><strong>回家</strong></span><strong><br class="auto-style18" />
				</strong><span class="auto-style18"><strong>叮嚀</strong></strong></span> 
				
			</td>
			<td>
				<textarea id="TextArea1" class="auto-style13"></textarea>

			</td>
		</tr>
	</table>
	<table class="auto-style12">
		<tr>
			<td class="auto-style2">
				<a href="http://localhost:61906/Home/Nutritional_meals" class="btn btn-danger" >下一項</a>
			</td>
		</tr>
	</table>
	<div class="auto-style1">
		<font color="0000EB" size="5"><strong>
		<br />
		營養餐食</strong>&nbsp;</font>
	</div>
	<div class="auto-style2">
		<br />
		<br />
		<br />
		<br />
		<a href="#" class="btn btn-danger" />上一頁</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	<a href="#" class="btn btn-danger" />回首頁</a>
	</div>
</body>
</html>