<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			width: 775px;
			text-align: center;
			font-size: x-large;
		}

		.auto-style4 {
			width: 800px;
			height: 1325px;
		}

		.auto-style5 {
			font-size: x-large;
		}

		.auto-style6 {
			width: 39px;
			height: 26px;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<br />
	<table>
		<tr>
			<td class="auto-style2">
				<strong>個案選擇頁面</strong>
			</td>
		</tr>
	</table>
	<br />
	<table class="auto-style4" width: 800px; height:800px>
		<tr>
			<td class="auto-style1" valign="top">
				<a href="http://localhost:61906/Home/Case_basic_information_Home_Service_Supervisor" class="btn btn-default btn-large"><span class="auto-style5">林XX</span></a>
			</td>
			<td class="auto-style1" valign="top">
				<a href="#" class="btn btn-default btn-large"><span class="auto-style5">王XX</span></a>
			</td>
		</tr>
	</table>
	</body>
</html>