<html>
<head>
	<style type="text/css">

		.auto-style1 {
			width: 32px;
			height: 40px;
		}

		.auto-style4 {
			text-align: right;
		}
		.auto-style5 {
			width: 500px;
			height: 34px;
		}

		.auto-style6 {
			font-family: 標楷體;
		}

		.auto-style7 {
			text-align: center;
		}
		.auto-style8 {
			width: 24px;
			height: 22px;
		}

		.auto-style9 {
			font-family: 標楷體;
			width: 50px;
		}

		.auto-style10 {
			font-family: 標楷體;
			width: 130px;
		}
		.auto-style11 {
			width: 337px;
		}

		.auto-style12 {
			font-family: 標楷體;
			width: 109px;
		}

		.auto-style13 {
			color: #F67377;
		}
		.auto-style14 {
			text-align: left;
		}

	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="image" src="~/images/大於按鈕.png" class="auto-style1" /> <font color="#0d62c3" size="5" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 開案日<img src="../../images/日期icon(藍).png" /><br />
	</font>
	&nbsp;<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style6">
				<font color="#0d62c3" size="4">姓名
			</td>
			<td bgcolor="#F0F0F0" class="auto-style4" >
				 <input type="text" name="text" placeholder="單行輸入"/>
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0">
				<font color="#0d62c3" size="4"><span class="auto-style6">暱稱</span>
			</td>
			<td bgcolor="#F0F0F0" class="auto-style4" >
				 <input type="text" name="text"placeholder="單行輸入"/>
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style6">
				<font color="#0d62c3" size="4">慣用語言
			</td>
			<td bgcolor="#F0F0F0" class="auto-style7" >
				 <font color="#F67377" size="5" face="標楷體">
					<input type="checkbox" name="location" value="國語" class="auto-style8" />國語 <input type="checkbox" name="location" value="台語"class="auto-style8" />台語 <input type="checkbox" name="location" value="英語" class="auto-style8"/>英語 <input type="checkbox" name="location" value="客語" class="auto-style8"/>客語 <input type="checkbox" name="location" value="日語"class="auto-style8" />日語

				 </font>
			</td>
		</tr>
	</table>
		<p>
			<br />
	</p>
		<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style9">
				<font color="#0d62c3" size="4">母語
			</td>
			<td bgcolor="#F0F0F0" class="auto-style7" >
				 <font color="#F67377" size="5" face="標楷體">
					<input type="checkbox" name="location" value="國語" class="auto-style8" />國語 <input type="checkbox" name="location" value="台語"class="auto-style8" />台語 <input type="checkbox" name="location" value="英語" class="auto-style8"/>英語 <input type="checkbox" name="location" value="客語" class="auto-style8"/>客語 <input type="checkbox" name="location" value="日語"class="auto-style8" />日語
				 </font>
			</td>
		</tr>
	</table>
		<p>
			<br />
	</p>
		<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style10">
				<font color="#0d62c3" size="4">喜歡的話題
			</td>
			<td bgcolor="#F0F0F0" class="auto-style7" >
				 <font color="#F67377" size="5" face="標楷體">
					 <input type="text" name="text" placeholder="單行輸入" class="auto-style11" />
				 </font>
			</td>
		</tr>
	</table>
	 <div class="auto-style7">
	 <font  size="3" face="標楷體">
	(最近談論過的事情或常講的事情)
	</div>
			<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style12">
				<font color="#0d62c3" size="4">興趣/喜好
			</td>
			<td bgcolor="#F0F0F0" class="auto-style14" >
				 <font color="#F67377" size="5" face="標楷體">
					<input type="checkbox" name="location" value="散步" class="auto-style8" />散步 <input type="checkbox" name="location" value="打拳"class="auto-style8" />打拳 <input type="checkbox" name="location" value="園藝" class="auto-style8"/>園藝 <input type="checkbox" name="location" value="慢跑" class="auto-style8"/>慢跑 
				 <br />
				 <input type="checkbox" name="location" value="旅行"class="auto-style8" />
					 </font>
			<span class="auto-style13">
				<font size="5">旅行
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location0" value="看電影、電視"class="auto-style8" />
				 </font>
		 <font size="5">看電影、電視
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location1" value="閱讀"class="auto-style8" /></font>
		 <font size="5">閱讀<br />
				 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location2" value="手工藝"class="auto-style8" /></font>
					 <font size="5">手工藝
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location3" value="繪畫"class="auto-style8" /></font>
		 <font size="5">繪畫
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location4" value="寫書法"class="auto-style8" /></font>
			 <font size="5">寫書法
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
					<br />
				 <input type="checkbox" name="location5" value="跳舞"class="auto-style8" /></font>
				 <font size="5">跳舞
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location6" value="下廚"class="auto-style8" /></font>
					 <font size="5">下廚
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
				 <input type="checkbox" name="location7" value="音樂、唱歌"class="auto-style8" /></font>
						 <font size="5">音樂、唱歌
	 <font  size="3" face="標楷體">
				 <font color="#F67377" size="5" face="標楷體">
					<br />
				 <input type="checkbox" name="location8" value="玩遊戲(如:桌遊.麻將.下棋.撲克等)"class="auto-style8" />
					 </font><font size="5">玩遊戲(如:桌遊.麻將.下棋.撲克等)</font></font></font></font></font></font></font></font></font></font></span></td>
		</tr>
	</table>
			<p>
				<br />
	</p>
			<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style10">
				<font color="#0d62c3" size="4">過去職業
			</td>
			<td bgcolor="#F0F0F0" class="auto-style7" >
				 <font color="#F67377" size="5" face="標楷體">
					 <input type="text" name="text" placeholder="單行輸入" class="auto-style11" />
				 </font>
			</td>
		</tr>
	</table>
	 <div class="auto-style7">
	 <font  size="3" face="標楷體">
	(過去做的所有職業)
	</div>
		<table align="center" class="auto-style5">
		<tr>
			<td bgcolor="#F0F0F0" class="auto-style6">
				<font color="#0d62c3" size="4">經濟狀況
			</td>
			<td bgcolor="#F0F0F0" class="auto-style14" >
				 <font color="#F67377" size="5" face="標楷體">照顧經費來源
					<input type="checkbox" name="location" value="儲蓄" class="auto-style8" />儲蓄 <input type="checkbox" name="location" value="配偶"class="auto-style8" />配偶 <input type="checkbox" name="location" value="政府補助" class="auto-style8"/>政府補助<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="location" value="家人支付" class="auto-style8"/>家人支付 
				 <br />
				 經濟是否困難 <input type="checkbox" name="location9" value="否" class="auto-style8"/>否 <input type="checkbox" name="location10" value="是"class="auto-style8" />是
				 </font>
			</td>
		</tr>
	</table>
	<div class="auto-style7">
	<nav aria-label="Page navigation example">
  	  <p>
		  &nbsp;</p>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="http://localhost:61906/Home/Case_basic_information_Home_Service_Supervisor">1</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:61906/Home/Single_case_care_Home_Service_Supervisor">2</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:61906/Home/Case_history_Home_Service_Supervisor">3</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:61906/Home/Other_assessments_Home_Service_Supervisor">4</a></li>
    <li class="page-item"><a class="page-link" href="http://localhost:61906/Home/Information_upload_Home_Service_Supervisor">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
	</div>
	<div class="auto-style4">
		<br />
	<a href="http://localhost:61906/Home/Single_case_care_Home_Service_Supervisor" class="btn btn-warning" >下一頁</a>
	</div>
</body>
</html>
