<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			text-align: right;
		}

		.auto-style4 {
			width: 800px;
		}

		.auto-style5 {
			font-family: 標楷體;
			font-size: xx-large;
			width: 44px;
			text-align: right;
		}

		.auto-style6 {
			font-family: 標楷體;
			font-size: x-large;
			width: 654px;
			height: 1194px;
		}


		.auto-style7 {
			width: 40px;
			height: 28px;
		}


		.auto-style8 {
			width: 48px;
			height: 31px;
		}

		.auto-style9 {
			width: 53px;
			height: 59px;
		}

		.auto-style10 {
			text-align: center;
			width: 65px;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<div style="background-color:#0000C2;">
		<table class="auto-style4">
			<tr>
				<td class="auto-style5">
					<input type="image" src="../../images/側欄按鈕.png" onclick="location.href='#'" />
				</td>
				<td>
					<Font color="#FFFFFF" size="5">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 照 顧 專 欄 - 課 程 資 訊 區
					</Font>
				</td>
			</tr>
		</table>

	</div>
	<div class="auto-style1">
		<font color="#ff0099" size="5">
			<br />
			9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸
		</font>
	</div>
	<br />
	<br />
	<table align="center" class="auto-style6">
		<tr>
			<td colspan="2" bgcolor="#FFE8E8">
				<br />
				&nbsp;<input type="image" src="~/images/箭頭icon.png" class="auto-style7" />
				<br />
			</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="#FFE8E8">
				<br />
				&nbsp;<input type="image" src="~/images/欄位圖案icon.png" class="auto-style8" class="auto-style7" />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					全國失智症家屬照顧技巧訓練課程暨家屬支持團體
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					Navigation item
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					Navigation item
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					Navigation item
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					Navigation item
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					John Username
				</strong>
				<br />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFE8E8" class="auto-style10">
				<br />
				<input type="image" src="~/images/星星icon.png" class="auto-style9" />
				<br />
			</td>
			<td bgcolor="#FFE8E8" valign="center">
				<br />
				<strong>
					Setting
				</strong>
				<br />
			</td>
		</tr>
	</table>
	<div class="auto-style2">
		<br />
		<br />
		<a href="http://localhost:61906/Home/Carecolumn" class="btn btn-danger btn-lg">上一頁</a>
	</div>
</body>
</html>