
<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			width: 446px;
			height: 71px;
		}

		.auto-style3 {
			font-size: medium;
		}

		.auto-style4 {
			width: 445px;
			height: 166px;
		}

		.auto-style15 {
			text-align: right;
		}

		.auto-style22 {
			width: 355px;
			height: 193px;
		}
		.auto-style23 {
			width: 574px;
		}
		.auto-style24 {
			width: 247px;
		}
		.auto-style25 {
			width: 252px;
		}
		.auto-style26 {
			width: 250px;
		}
		.auto-style27 {
			width: 268px;
		}
		.auto-style28 {
			width: 201px;
		}
		.auto-style29 {
			width: 271px;
		}
		.auto-style30 {
			width: 202px;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<div class="auto-style1">
		<div style="background-color:#FF5F5F;" class="auto-style1">
			<Font color="#FFFFFF" size="5">
				每日守護紀錄
			</Font>
		</div>
	</div>
	<br />
	<table align="center" class="auto-style2">
		<tr>
			<td bgcolor="#F5F5F5" align="right" valign="center" class="auto-style3">
				<font color="0000EB">個案姓名:林XX</font>
			</td>
			<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-style3">
				<font color="0000EB">服務日期 2018.07.6</font>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style3">
				<img src="../../images/服務人員icon.png" / ><font color="0000EB">&nbsp;&nbsp; 服務人員:&nbsp;&nbsp; 黃阿花 </font>
			</td>
		</tr>
	</table>
	<br />
	<p class="auto-style1">
		<font color="#D60000" size="5"><strong>家屬簽名區</strong></font>
	</p>
	<table align="center" class="auto-style4">
		<tr>
			<td bgcolor="#FFFFFF"></td>
		</tr>
	</table>
	<div class="auto-style1">
		<br />
		<br />
		<input type="button" value="儲存" class="btn btn-primary" />
	</div>
	<br />
	<br />
	<table>
		<tr>
			<td bgcolor="#0000EB">
				<font color="#FFFFFF"size="4">必選項目 自立生活訓練&nbsp;&nbsp; <img src="~/images/自主生活訓練icon.png" width="30" height="20"/></font>
			</td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
	<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style24">
				<font color="#FFFFFF"size="4">BA01 基本身體清潔&nbsp;&nbsp; <img src="../../images/身體清潔icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
	<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style25">
				<font color="#FFFFFF"size="4">BA02 基本日常照顧&nbsp;&nbsp; <img src="../../images/日常照顧icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style26">
				<font color="#FFFFFF"size="4">BA03 量測生命徵象&nbsp;&nbsp; <img src="../../images/量測生命徵象icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style27">
				<font color="#FFFFFF"size="4">BA04 協助餵食或灌食&nbsp;&nbsp; <img src="../../images/協助餵食或灌食icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style28">
				<font color="#FFFFFF"size="4">BA05 餐食照顧&nbsp;&nbsp; <img src="../../images/餐食照顧icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style29">
				<font color="#FFFFFF"size="4">BA07 協助沐浴及洗頭&nbsp;&nbsp; <img src="../../images/協助沐浴及洗頭icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
		<br />
		<table class="auto-style23">
		<tr>
			<td bgcolor="#0000EB" class="auto-style30">
				<font color="#FFFFFF"size="4">BA08 足部照護&nbsp;&nbsp; <img src="../../images/足部照護icon.png" width="30" height="20"/></font>
			</td>
			<td class="auto-style15"><font color="#0000EB" size="2">應做23次>已做10次</font></td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style22">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				自動帶入</td>
		</tr>
	</table>
	<br />
	<br />
	<div class="auto-style15">
		<a href="http://localhost:61906/Home/Familindex" class="btn btn-danger">上一頁</a>
	</div>
</body>
</html>