
<html>
<head>
	<style type="text/css">
		.auto-style2 {
			font-family:標楷體;
			width: 446px;
			height: 71px;
		}
		.auto-style3 {
			font-family:標楷體;
			font-size: x-large ;
		}
		.auto-style4 {
			font-family:標楷體 ;
			width: 445px ;
			height: 166px ;
		}
		.auto-style10 {
			font-family: 標楷體;
			width: 40px;
			text-align: right;
		}
		.auto-style11 {
			font-family:標楷體;
			font-size:xx-large;
			width: 760px;
		}

		.auto-style12 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}

		.auto-style13 {
			text-align: center;
		}

		</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<div class="auto-style13">
	<div style="background-color:#FF5F5F;">
		<table>
			<tr>
				<td class="auto-style10">
					<input type="image" src="../../images/側欄按鈕.png" onclick="location.href='#'" />
				</td>
				<td class="auto-style11">
					<Font color="#FFFFFF" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每日守護紀錄</Font></td>
			</tr>
		</table>
	</div>
	<br />
	<table align="center" class="auto-style2">
		<tr>
			<td bgcolor="#F5F5F5" align="right" valign="center" class="auto-style3">
			<font color="0000EB">個案姓名:林XX</font> 
			</td>
			<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-style3">
				<font color="0000EB">服務日期 2018.07.6</font>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style3">
				<img src="../../images/服務人員icon.png" / ><font color="0000EB">&nbsp;&nbsp; 服務人員:&nbsp;&nbsp; 黃阿花 </font>
			</td>
		</tr>
	</table>
	<br />
	<p class="auto-style12"><font color="#D60000" size="5"><strong>家屬簽名區</strong></font>
	</p>
	<table align="center" class="auto-style4">
		<tr>
			<td bgcolor="#FFFFFF">
			</td>
		</tr>
	</table>
	<br />
	<br />
		<input type="button" value="儲存" class="btn btn-primary" onclick="location.href='http://localhost:61906/Home/Every_guardian1'"/>
	</div>
