


<html>
<head>
	<style type="text/css">
		.auto-style2 {
			font-family: 標楷體;
			font-size: large;
			width: 344px;
		}

		.auto-style3 {
			font-family: 標楷體;
		}

		.auto-style5 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: left;
		}
		.auto-style6 {
			font-family: 標楷體;
		}
		.auto-style7 {
			text-align: right;
		}
	</style>
</head>
<body style="background-color:#FFD4D4; width: 357px; height:812px;">
	<div class="auto-style7">
		<p class="auto-style5"><strong>忘記帳密</strong></p>
		<center>
			<br />
			<table class="auto-style2" align="center">
				<tr>
					<td class="auto-style3">
						帳號編碼法則
						<br />
						<br />
						本人手機號碼為主。  若本人無手機則以本人之市話號碼為帳號<br />
						手機範例:   0933534534<br />
						市話範例:   0422354840<br />
						<br />
						密碼編碼法則
						<br />
						<br />
						本人身分證號碼後五碼
						 
						<br />
						身分證號碼範例:A123456789<br />
						則此人密碼為:56789
					</td>
				</tr>
			</table>
		</center>
		<div>
		<br />
		<br />
		<br />
		<br />
		<br class="auto-style6" />
			<span class="auto-style6">@Html.ActionLink("回登入", "Login", "Home", new { @class = "btn btn-danger btn-lg" })
	</span>
		</div>
	</div>
</body>
</html>