<html>
<head>

	<style type="text/css">

		.auto-style1 {
			font-family:標楷體;
			font-size: xx-large   ;
		}
		.auto-style2 {
			font-family:標楷體;
			width: 279px;
			height: 57px;
		}
		.auto-style3 {
			font-family:標楷體;
			text-align: center;
		}
		.auto-style4 {
			font-family: 標楷體;
			width: 423px;
			height: 103px;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<br />
		<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table align="center" class="auto-style4"   >
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style3" >
				<fon class="btn"><span class="auto-style1"><a href="http://localhost:61906/Home/Every_guardian">每次守護紀錄</a> </span></fon>
			</td>
		</tr>
	</table> 
	<br />
	<br />
	<br />
	<br />
		<table align="center" class="auto-style4"   >
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style3" >
				<font color="#FFFFFF" class="btn"><span class="auto-style1"><a href="http://localhost:61906/Home/Guardian_of_the_month">每月守護紀錄</a></span></font>
			</td>
		</tr>
	</table> 
</body>
</html>
