
<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			font-size:x-large;
			text-align: center;
		}

		.auto-style2 {
			font-family:標楷體;
			font-size:x-large;
			width: 446px;
			height: 71px;
		}

		.auto-style3 {
			font-family:標楷體;
			font-size: x-large;
		}

		.auto-style4 {
			width: 445px;
			height: 166px;
		}

		.auto-style5 {
			font-family:標楷體;
			width: 800px;
		}
		.auto-style6 {
			font-family:標楷體;
			width: 40px;
			text-align: right;
		}
		.auto-style7 {
			font-family:標楷體;
			font-size:xx-large;
		}

		.auto-style8 {
			width: 445px;
		}
		.auto-style9 {
			font-family:標楷體;
			font-size:x-large;
		}
		.auto-style10{
			font-family:標楷體;
			font-size:x-large;
			width: 125px;
			text-align: center;
		}

		.auto-style12 {
			width: 54px;
			text-align: center;
			font-size: medium;
		}

		.auto-style13 {
			font-size: medium;
		}
		
		.auto-style15 {
			text-align: right;
		}
		.auto-style16 {
			font-size: small;
			font-family: 標楷體;
		}

		.auto-style17 {
			font-size: x-large;
		}
		.auto-style20 {
			font-family: 標楷體;
			font-size: large;
		}
		.auto-style21 {
			font-family: 標楷體;
			font-size: large;
			width: 25px;
			height: 18px;
		}
		.auto-style22 {
			width: 78px;
			text-align: center;
		}
		.auto-style23 {
			font-size: large;
		}
		.auto-style24 {
			text-align: center;
		}
		.auto-style25 {
			width: 115px;
			text-align: center;
		}
		.auto-style26 {
			width: 120px;
			text-align: center;
		}
		.auto-style27 {
			width: 445px;
			height: 332px;
		}
		.auto-style28 {
			font-family: 標楷體;
			width: 800px;
			font-size: x-large;
			text-align: right;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
		<div style="background-color:#FF5F5F;">
			<table class="auto-style5">
				<tr>
					<td class="auto-style6">
						<input type="image" src="../../images/側欄按鈕.png" onclick="location.href='#'" />
					</td>
					<td class="auto-style7">
						<font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;每月守護紀錄
						</font>
					</td>
				</tr>
			</table>
		</div>

	<br />
	<table align="center" class="auto-style2">
		<tr>
			<td bgcolor="#F5F5F5" align="right" valign="center" class="auto-style3">
				<font color="0000EB">個案姓名:林XX</font>
			</td>
			<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-style3">
				<font color="0000EB">服務日期 2018.07.6</font>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style3">
				<img src="../../images/服務人員icon.png" / ><font color="0000EB">&nbsp;&nbsp; 服務人員:&nbsp;&nbsp; 黃阿花 </font>
			</td>
		</tr>
	</table>
	<br />
	<p class="auto-style1">
		<font color="#D60000" size="5"><strong>家屬簽名區</strong></font>
	</p>
	<table align="center" class="auto-style4">
		<tr>
			<td bgcolor="#FFFFFF"></td>
		</tr>
	</table>
	<div class="auto-style1">
		<br />
		<input type="button" disabled="disabled"  value="儲存" class="btn btn-primary btn-lg" />
	</div>
	<br />
	<br />
	</div>
	<table align="center" class="auto-style8">
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style9">
				<font color="#0000EB" size="4"><strong><span class="auto-style17">照顧壓力</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="auto-style17">分</span></font>
			</td>
			<td bgcolor="#F5F5F5" class="auto-style9" >
				<font color="#0000EB" size="4"><strong><span class="auto-style17">照顧資源</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="auto-style17">分</span></font>
			</td>
		</tr>
	</table>
	<br />
	<table class="auto-style8" align="center" >
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style10" rowspan="4">
				<font color="#0000EB"><strong>溝通能力</strong></font>
			</td >
			<td bgcolor="#DEEEFF" class="auto-style12">
				<font color="#0D62C3"><span class="auto-style13">視力</span></font><span class="auto-style13"> </span>
			</td>
			<td bgcolor="#F5F5F5" rowspan="4">
				&nbsp;</td>
			</tr>
		<tr>
			<td bgcolor="#DEEEFF" class="auto-style12">
				<font color="#0D62C3"><span class="auto-style13">聽力</span></font><span class="auto-style13"> </span>
			</td>
		</tr>
		<tr>
			<td bgcolor="#DEEEFF" class="auto-style12">
				<font color="#0D62C3"><span class="auto-style13">語言</span></font><span class="auto-style13"> </span>
			</td>
		</tr>
		<tr>
			<td bgcolor="#DEEEFF" class="auto-style12">
				<font color="#0D62C3"><span class="auto-style13">理解</span></font><span class="auto-style13"> </span>
			</td>
		</tr>
	</table>
	<p class="auto-style15" ><span class="auto-style16">(異常代表與平常不同) </span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
	<table align="center" class="auto-style8">
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style24">
				<font color="#0000EB"><strong><span class="auto-style3">輔具合宜性</span></strong></font>
			</td>
			<td bgcolor="#F5F5F5">
				<font color="#FF1493" size="3"><span class="auto-style20">目前輔具是否合宜&nbsp; </span> <input type="radio" class="auto-style21" name="location" value="是" /><span class="auto-style20">是&nbsp; </span> <input type="radio" class="auto-style21" name="location" value="否"/><span class="auto-style20">否</span></font>
			</td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style8">
		<tr>
			<td bgcolor="#F5F5F5" rowspan="2" class="auto-style22"><span class="auto-style3"><font color="#0000EB"><strong>肌力</strong></font></span> </td>
			<td bgcolor="#F5F5F5" class="auto-style23">
				<font color="#FF1493"><input type="radio" class="auto-style21" name="location1" value="可行走"/><span class="auto-style20">&nbsp;可行走:&nbsp;&nbsp;&nbsp; 行走測試&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 秒</span></font><span class="auto-style20"> </span>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style20">
				<font color="#FF1493" size="3"> <input type="radio" class="auto-style21" name="location1" value="無法行走" /><span class="auto-style20">&nbsp;無法行走:&nbsp;&nbsp;&nbsp; </span> <input type="radio" class="auto-style21" name="location2" value="正常"/><span class="auto-style20">正常&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</span><input type="radio" class="auto-style21" name="location2" value="異常"/><span class="auto-style20">異常</span></font><span class="auto-style20"> </span>
			</td>
		</tr>
	</table>
	<p class="auto-style15" ><span class="auto-style16">(異常代表與平常不同) </span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
	<table align="center" class="auto-style8">
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style24" >
				<span class="auto-style3">
				<font color="#0000EB" ><strong>受虐</strong></font></span>
			</td>
			<td bgcolor="#F5F5F5">
				<font color="#FF1493" size="3"><span class="auto-style20">&nbsp;&nbsp;&nbsp; 是否出現疑似受虐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> <input type="radio" class="auto-style21" name="location3" value="是"/><span class="auto-style20">是&nbsp;&nbsp;&nbsp;&nbsp; </span> <input type="radio" class="auto-style21" name="location3" value="否"/><span class="auto-style20">否</span></font>
			</td>
		</tr>
	</table>
	<br />

	<table align="center" class="auto-style8">
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style25">
				<span class="auto-style3">
				<font color="#0000EB"><strong>安全認知</strong></font></span>
			</td>
			<td bgcolor="#F5F5F5">
				<font color="#FF1493" size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="auto-style20"> </span> <input type="radio" class="auto-style21" name="location4" value="正常" /><span class="auto-style20">&nbsp; 正常&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> <input type="radio" class="auto-style21" name="location4" value="異常" /><span class="auto-style20">&nbsp;&nbsp; 異常</span></font>
			</td>
		</tr>
	</table>
	<p class="auto-style15" ><span class="auto-style16">(異常代表與平常不同) </span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
	<table align="center" class="auto-style27">
		<tr>
			<td bgcolor="#F5F5F5" class="auto-style26">
				<span class="auto-style3">
				<font color="#0000EB"><strong>十大指標</strong></font></span>
			</td>
			<td bgcolor="#F5F5F5"></td>
		</tr>
	</table>
	<br />
	<br />
	<div class="auto-style28">
		<a href="http://localhost:61906/Home/Guardrecord" class="btn btn-danger btn-lg">上一頁</a>
	</div>
</body>
</html>