<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
			font-size:large;
			font-family:標楷體;
		}
		.auto-style2 {
			width: 333px;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<marquee direction="up" scrollamount="1" class="auto-style2"><font color="#ff0099">公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告</font></marquee>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="auto-style1">
		<input type="image" src="~/images/到點打卡icon.png" class="btn" onclick="location.href=' @Url.Action("main_sign_in_success", "Home")'" />
		<br />
		<br />
		<br />
		<input type="image" src="~/images/再次進入icon.png" class="btn" onclick="location.href='@Url.Action("again_into", "Home") '" />
		<br />
		<br />
		<br />
		<input type="image" src="~/images/離點打卡icon.png" class="btn" onclick="location.href='@Url.Action("sign_out", "Home")'" />
	</div>
</body>
</html>
