<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			width: 249px;
			height: 85px;
		}
		.auto-style3 {
			text-align: right;
		}
		.auto-style4 {
			width: 164px;
			height: 62px;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<div class="auto-style1">
	<font color="#E51c23" face="標楷體" size="4">公告:8/18(六)辦理員工體檢，相關注意事項請查閱公告</font>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	</div>
	<div class="auto-style1">
		<font color="#FFFFFF" face="標楷體" size="5"><a href="http://localhost:61906/Home/Home_Service_Supervisor_sign_success" class="btn btn-primary btn-lg ">上班打卡</a></font>
		<br />
		<br />
		<br />
		<br />
		<font color="#FFFFFF" face="標楷體" size="5">
			<img src="../../images/打卡成功.png" class="auto-style2" /><br />
			<br />
		<br />
		<br />
		<br />
		</font>
	</div>
	<div class="auto-style3">
	<font color="#FFFFFF" face="標楷體" size="5">
		<input type="image" src="~/images/離開.png" onclick="location.href='http://localhost:61906/Home/Login'" class="auto-style4" />

		<br />
		<br />

	<a href="http://localhost:61906/Home/Login" class="btn btn-danger">登出</a>
	</font>
	</div>
</body>
</html>
