<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}
		.auto-style2 {
			text-align: right;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="auto-style1">
		<font color="#FFFFFF" face="標楷體" size="5"><a href="http://localhost:61906/Home/Home_Service_Supervisor_sign_success" class="btn btn-primary btn-lg ">上班打卡</a> </font>
		<br />
		<br />
		<br />
		<font color="#FFFFFF" face="標楷體" size="5"><a href="http://localhost:61906/Home/Home_Service_Supervisor_index" class="btn btn-primary btn-lg ">上班之中進入</a><br /></font>

		<br />
		<br />
		<br />
		<font color="#FFFFFF" face="標楷體" size="5"><a href="http://localhost:61906/Home/Home_Service_Supervisor_sign_out" class="btn btn-primary btn-lg ">下班打卡</a><br /></font>
		<font face="標楷體" size="3">
			(尚未下班者，請勿按)
		</font>
	</div>
	<div class="auto-style2">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	<input type="button" value="回到上一頁" onclick="location.href='http://localhost:61906/Home/Emergency_accident_handling_process_Home_Service_Supervisor'" />
	</div>
</body>
</html>
