<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="auto-style1">
		<font color="#FFFFFF" face="標楷體" size="5"><a href="http://localhost:61906/Home/Case_selection_page_Home_Service_Supervisor" class="btn btn-primary btn-lg ">開案評估</a> </font>
		<br />
		<br />
		<br />
		<font color="#FFFFFF" face="標楷體" size="5"><a href="#" class="btn btn-primary btn-lg ">異動再評</a><br /></font>
		<font face="標楷體" size="3">
			(個案情況大變或計劃異動時)
		</font>
		<br />
		<br />
		<br />
		<font color="#FFFFFF" face="標楷體" size="5"><a href="#" class="btn btn-primary btn-lg ">半年複評</a> </font>
	</div>
</body>
</html>
