<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: right;
		}

		.auto-style3 {
			text-align: left;
		}

		textarea {
			resize: none;
		}

		.auto-style18 {
			font-size: large;
		}

		.auto-style19 {
			width: 629px;
			height: 124px;
		}
	</style>
</head>
<body style="background-color:#AAFFEE; width: 800px; height:1440px;">
	<div class="auto-style3">
		<div style="background-color:#0000C2;" class="auto-style1">
			<Font color="#FFFFFF" size="5">
				照顧日誌
			</Font>
		</div>
		<br />
		<div class="auto-style1">
			<font color="#ff0099" size="5">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font>
		</div>
		<br />
		<div class="auto-style3">
			<img src="~/images/日期icon(藍).png" align="bottom" />
			<font color="0000EB" size="5">107.11.15</font>
		</div>
		<div class="auto-style2">
			<br />
			<font color="0000EB" size="5"><strong>每日守護紀錄&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
		</div>
		<div class="auto-style3">
			<font color="#600000" size="5"><strong>生命徵象</strong></font>
			<img src="../../images/生命徵象icon(紫).png" align="center" />
			<br />
			<font color="#600000" size="5"><strong>皮膚評估</strong></font>
			<img src="../../images/皮膚評估icon(紫).png" align="center" />
			<br />
			<font color="#600000" size="5"><strong>疼痛評估</strong></font>
			<img src="../../images/疼痛評估icon(紫).png" align="center" />
			<br />
			<font color="#600000" size="5"><strong>情緒評估</strong></font>
			<img src="../../images/笑臉icon(紫).png" align="center" />
			<br />
			<font color="#600000" size="5"><strong>今日照顧</strong></font>
			<img src="../../images/醫藥箱icon(紫).png" align="center" />
			<br />
			<font color="#600000" size="5"><strong>回家叮嚀</strong></font>
			<img src="../../images/回家叮嚀icon(紫).png" align="center" />
			<br />
		</div>
		<div class="auto-style2">
			<br />
			<font color="0000EB" size="5"><strong>照顧計畫執行&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
		</div>
		<br />
		<font color="#600000" size="5"><strong>人際關係</strong></font>
		<img src="../../images/笑臉icon(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>自立運動</strong></font>
		<img src="../../images/自立運動icon(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>服藥情況</strong></font>
		<img src="../../images/醫藥箱icon(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>飲食情況</strong></font>
		<img src="../../images/飲食情況(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>排泄情況</strong></font>
		<img src="../../images/排泄情況icon(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>特殊照顧</strong></font>
		<img src="../../images/特殊照顧(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>其  他</strong></font>
		<img src="../../images/笑臉icon(紫).png" align="center" />
		<br />
		<font color="#600000"><span class="auto-style18"><strong>今日照</strong></span><strong><br class="auto-style18" /></strong><span class="auto-style18"><strong>顧情況</strong></span></font>
		<img src="~/images/今日照顧情況icon(紫).png" align="center" />
		<br />
		<font color="#600000" size="5"><strong>回家叮囑</strong></font>
		<img src="~/images/回家叮囑icon(紫).png" align="center" />

		<div class="auto-style1">
			<font color="0000EB" size="5">
				<strong>
					<br />
					營養餐食
				</strong>&nbsp;
			</font>
		</div>
		<div class="auto-style1">
			<img src="~/images/營養餐食1.png" width="250" hight="250" />
			<br />
			<br />
			<br />
			<img src="~/images/營養餐食2.png" width="300" hight="300" />
			<br />
			<br />
		</div>
		<table class="auto-style19">
			<tr>
				<td class="auto-style16">
					<font color="#600000"><span class="auto-style18"><strong>營養分析</strong></span><img src="../../images/飲食情況(紫).png" align="center" />
				</td>
				<td>
					<span class="auto-style18"><strong>主食4份</strong></span>
					<strong>
						<br class="auto-style18" />
						<br class="auto-style18" />
					</strong>
					<span class="auto-style18"><strong>蛋白質2-2.5份</strong></span>
					<strong>
						<br class="auto-style18" />
						<br class="auto-style18" />
					</strong>
					<span class="auto-style18"><strong>青菜1.5份</strong></span>
					<strong>
						<br class="auto-style18" />
						<br class="auto-style18" />
					</strong>
					<span class="auto-style18">
						<strong>
							油脂3份

						</strong>
					</span>

				</td>
			</tr>
		</table>

		<div class="auto-style2">
			<br />
			<br />
			<br />
			<br />
			<a href="#" class="btn btn-danger" />上一頁</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#" class="btn btn-danger" />回首頁</a>
		</div>
	</div>
</body>
</html>