<html>
<head>
	<style>

		.auto-style1 {
			font-family:標楷體;
			width: 76px;
			height: 1360px;
		}

		.auto-style2 {
			width: 156px;
			height: 150px;
		}

		.auto-style3 {
			font-family:標楷體;
			width: 63px;
			height: 125px;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	
	<table align="center">
		<tr>
			<td valign="top">
				<img src="../../images/五種程度評估.png" class="auto-style1" />
			</td>
			<td class="auto-style4">
				<input type="image" src="../../images/愉快.png" class="auto-style2" />
				<br />
				<br />
				<br />
				<input type="image" src="../../images/正常.png" class="auto-style2" /><br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;<input type="image" src="../../images/一點都不舒服.png" class="auto-style2" /><br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;<input type="image" src="../../images/很不舒服.png" class="auto-style2" /><br />
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;<input type="image" src="../../images/蠻痛的.png" class="auto-style2" /><br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;<input type="image" src="../../images/大痛不已.png" class="auto-style2" />
				<br />
				<br />
				<br />
				<br />
				<br />
			</td>
		</tr>
	</table>
	<input type="image" src="../../images/上一頁(疼痛評估-居服員).png" onclick="location.href='@Url.Action("Every_guardian_the_record", "Home")'" class="auto-style3" />
</body>
</html>