<html>
<head>
	<style type="text/css">

		.auto-style1 {
			width: 32px;
			height: 40px;
		}

		.auto-style4 {
			text-align: right;
		}

		.auto-style5 {
			width: 500px;
			height: 34px;
		}

		.auto-style6 {
			font-family: 標楷體;
		}

		.auto-style7 {
			text-align: center;
		}

		.auto-style8 {
			width: 24px;
			height: 22px;
		}

		.auto-style14 {
			text-align: left;
		}

		.auto-style16 {
			width: 126px;
			text-align: center;
		}

		.auto-style17 {
			font-family: 標楷體;
			width: 126px;
			text-align: center;
		}

		.auto-style18 {
			font-family: 標楷體;
			width: 107px;
			text-align: center;
		}

		.auto-style21 {
			font-family: 標楷體;
			width: 109px;
			text-align: center;
		}

		.auto-style25 {
			width: 60px;
		}

		.auto-style26 {
			text-align: left;
			width: 135px;
		}

		.auto-style27 {
			font-family: 標楷體;
			width: 98px;
			text-align: center;
		}

		.auto-style29 {
			text-align: left;
			width: 73px;
		}

		.auto-style30 {
			width: 98px;
			text-align: center;
		}

		.auto-style31 {
			width: 73px;
		}

		.auto-style33 {
			width: 113px;
			text-align: center;
		}

		.auto-style34 {
			width: 144px;
			text-align: center;
		}

		.auto-style36 {
			width: 77px;
			height: 80px;
		}

		.auto-style37 {
			width: 105px;
			text-align: center;
		}

		.auto-style38 {
			width: 112px;
			text-align: center;
		}

		.auto-style39 {
			width: 57px;
		}

		.auto-style41 {
			width: 80px;
			text-align: center;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<div class="auto-style14">
		<input type="image" src="~/images/大於按鈕.png" class="auto-style1" /> <font color="#0d62c3" size="5">
			&nbsp;<br />
		</font>
		&nbsp;
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style17">
					<font color="#0d62c3" size="4" face="標楷體">疾病史
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="checkbox" name="location1" value="老實" class="auto-style8" /> 高血壓
						<input type="checkbox" name="location2" value="仁慈" class="auto-style8" /> 糖尿病
						<input type="checkbox" name="location3" value="開朗" class="auto-style8" /> 骨骼系統<br />
						<input type="checkbox" name="location4" value="溫柔" class="auto-style8" /> 視覺退化&nbsp;
						<input type="checkbox" name="location5" value="溫順" class="auto-style8" /> 腦血管意外
						<input type="checkbox" name="location6" value="溫暖" class="auto-style8" /> 冠狀動脈病&nbsp;
						<input type="checkbox" name="location7" value="合群" class="auto-style8" /> 癌症___癌
						<input type="checkbox" name="location8" value="謙遜" class="auto-style8" /> 心房顫動/節律障礙
						<input type="checkbox" name="location9" value="大方" class="auto-style8" /> 呼吸系統 					<input type="checkbox" name="location10" value="正義" class="auto-style8" /> 失智症
						<input type="checkbox" name="location11" value="忠誠" class="auto-style8" /> 消化系統__自動__
						<input type="checkbox" name="location12" value="自律直率" class="auto-style8" /> 營養不良
						<input type="checkbox" name="location13" value="固執" class="auto-style8" /> 泌尿系統
						<br />
						<input type="checkbox" name="location14" value="幻想" class="auto-style8" /> 帕金森氏症
						<input type="checkbox" name="location15" value="穩重" class="auto-style8" /> 脊髓損傷
						<input type="checkbox" name="location16" value="無理取鬧" class="auto-style8" /> 腦性麻痺
					</font>
				</td>
			</tr>
		</table>
		<p>
			&nbsp;
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style16" rowspan="2">
					<font color="#0d62c3" size="4">
						<span class="auto-style6">
							用藥習慣
						</span>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14" valign="top">
					<font color="#F67377" size="5">
						<input type="radio" name="location" value="正常" class="auto-style8"/>正常
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="checkbox" name="location17" value="不固定服藥" class="auto-style8" />不固定服藥
						<input type="checkbox" name="location18" value="自行調藥" class="auto-style8" />自行調藥

						<br />
						<input type="checkbox" name="location19" value="使用非醫囑藥物" class="auto-style8" />使用非醫囑藥物

						<br />
						<input type="checkbox" name="location20" value="拒絕服藥" class="auto-style8" />拒絕服藥
						<input type="checkbox" name="location21" value="囤藥" class="auto-style8" />囤藥

					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						藥物過敏
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="checkbox" name="location22" value="否" class="auto-style8" /> 否
						<input type="checkbox" name="location23" value="是" class="auto-style8" /> 是,種類__自動帶入__
					</font>
				</td>
			</tr>
		</table>
		<p>
			&nbsp;
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style18" rowspan="3">
					<font color="#0d62c3" size="4">營養面相</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="radio" name="location1" value="體態" class="auto-style8"/>體態:&nbsp;
						身高 <input type="text" name="text" placeholder="單行" class="auto-style25" />&nbsp;&nbsp;&nbsp;
						體重 <input type="text" name="text" placeholder="單行" class="auto-style25" />
						<br />
						&nbsp;&nbsp;
					</font>
					(可量測時)
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="radio" name="location1" value="體圍" class="auto-style8"/>體圍:&nbsp;&nbsp;
						膝長 <input type="text" name="text" placeholder="單行" class="auto-style25" />&nbsp;&nbsp;
						臂圍 <input type="text" name="text" placeholder="單行" class="auto-style25" />
						<br />
						&nbsp;&nbsp;
					</font>
					(不可量測時)<font color="#F67377" size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 中臂圍 </font><input name="text" placeholder="單行" class="auto-style25" />
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style4">
					<font color="#FF0000" size="5">
						BMI:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</font>
				</td>
			</tr>

		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style21" rowspan="3">
					<font color="#0d62c3" size="4">飲食面相</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style26" valign="top">
					<font color="#F67377" size="5" face="標楷體">
						餐飲種類:
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location2" value="一般乾飯" class="auto-style8" /> 一般乾飯
						<input type="radio" name="location2" value="軟質" class="auto-style8" /> 軟質
						<input type="radio" name="location2" value="剁碎" class="auto-style8" /> 剁碎
						<input type="radio" name="location2" value="水狀" class="auto-style8" /> 水狀
						 
					<br />
						<input type="radio" name="location2" value="水狀" class="auto-style8" /> 泥狀
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style26">
					<font color="#F67377" size="5" face="標楷體">
						飲水習慣:
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location3" value="自動" class="auto-style8" /> 自動
						<input type="radio" name="location3" value="須提醒" class="auto-style8" /> 須提醒
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style14" colspan="2">
					<font color="#F67377" size="5" face="標楷體">
						水分攝取是否充足
						<input type="radio" name="location4" value="是" class="auto-style8" /> 是
						<input type="radio" name="location4" value="否" class="auto-style8" /> 否
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style27" rowspan="2">
					<font color="#0d62c3" size="4">口腔面相</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#FF0000" size="5" face="標楷體">
						<strong>咀嚼</strong>
					</font>
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location5" value="正常" class="auto-style8"/>正常
						<input type="radio" name="location5" value="異常" class="auto-style8"/>異常
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#FF0000" size="5" face="標楷體">
						<strong>吞嚥</strong>
					</font>
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location6" value="正常" class="auto-style8"/>正常
						<input type="radio" name="location6" value="異常" class="auto-style8"/>異常
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style14" colspan="2">
					<font color="#FF0000" size="5" face="標楷體">
						<strong>清潔</strong>
					</font>
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location7" value="正常" class="auto-style8"/>正常
						<input type="radio" name="location7" value="須提醒" class="auto-style8"/>須提醒
						<input type="radio" name="location7" value="須協助"class="auto-style8" />須協助
						<input type="radio" name="location7" value="異常" class="auto-style8"/>異常
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" rowspan="2" class="auto-style30">
					<font color="#0d62c3" size="4">
						排泄型態
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style29">
					<font color="#FF0000" size="5" face="標楷體">
						排便:
					</font>
				</td>
				<td bgcolor="#F0F0F0">
					<font color="#F67377" size="5">
						頻率一天&nbsp; <input type="number" name="number" class="auto-style25" />&nbsp; 次

						<br />
						時間:&nbsp; <input type="checkbox" name="location32" value="早上" class="auto-style8" /> 早上
						<input type="checkbox" name="location33" value="下午" class="auto-style8" /> 下午

						<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="location34" value="晚上" class="auto-style8" /> 晚上
						<input type="checkbox" name="location35" value="半夜" class="auto-style8" /> 半夜
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" ] class="auto-style31">
					<font color="#FF0000" size="5" face="標楷體">
						排尿:
					</font>
				</td>
				<td bgcolor="#F0F0F0">
					<font color="#F67377" size="5" face="標楷體">
						&nbsp;
						<input type="radio" name="location8" value="正常" class="auto-style8"/> 正常&nbsp;&nbsp;
						<input type="radio" name="location8" value="須提醒如廁" class="auto-style8"/> 須提醒如廁
						<br />
						&nbsp;
						<input type="radio" name="location8" value="尿失禁" class="auto-style8"/> 尿失禁
						<input type="radio" name="location8" value="尿布" class="auto-style8"/> 尿布
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style27">
					<font color="#0d62c3" size="4">循環狀況</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location9" value="正常" class="auto-style8"/> 正常&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="location9" value="皮膚冰冷、蒼白" class="auto-style8"/> 皮膚冰冷、蒼白

						<br />
						<input type="radio" name="location9" value="皮膚發紺" class="auto-style8"/> 皮膚發紺
						<input type="radio" name="location9" value="皮膚腫脹" class="auto-style8"/> 皮膚腫脹
						<input type="radio" name="location9" value="水腫" class="auto-style8"/> 水腫
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#3F51B5" class="auto-style33">
					<font color="#FFFFFF" size="4">跌倒危險</font>
				</td>
				<td bgcolor="#3F51B5">
					<font color="#F67377" size="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 跌倒危險因子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>&nbsp;<font color="#FFFFFF" size="4">項</font>

				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" rowspan="2" class="auto-style34">
					<font color="#0d62c3" size="4">四肢肌肉力量</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style38">
					<font color="#F67377" size="5" face="標楷體">
						<form>
							<select name="location" class="auto-style39">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							分
						</form>
					</font>
				</td>
				<td bgcolor="#F0F0F0" rowspan="2" class="auto-style37">
					<img src="../../images/個案疾病史照片.png" class="auto-style36" />
				</td>
				<td bgcolor="#F0F0F0" class="auto-style7">
					<font color="#F67377" size="5" face="標楷體">
						<form>
							<select name="location" class="auto-style39">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							分
						</form>
					</font>
				</td>

			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style38">
					<font color="#F67377" size="5" face="標楷體">
						<form>
							<select name="location" class="auto-style39">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							分
						</form>
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style7">
					<font color="#F67377" size="5" face="標楷體">
						<form>
							<select name="location" class="auto-style39">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							分
						</form>
					</font>
				</td>

			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style30">
					<font color="#0d62c3" size="4">
						管路
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style41" valign="top">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location10" value="無" class="auto-style8"/>無
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location10" class="auto-style8" value="鼻胃管" />鼻胃管
						<input type="radio" name="location10" class="auto-style8" value="尿管" />尿管
						<input type="radio" name="location10" class="auto-style8" value="氣切" />氣切
						<br />
						<input type="radio" name="location10" class="auto-style8" value="胃造口" />胃造口
						<input type="radio" name="location10" class="auto-style8" value="腸造口" />腸造口
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style30">
					<font color="#0d62c3" size="4">
						皮膚狀況
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style41" valign="top">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location11" value="正常" class="auto-style8"/>正常
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location11" class="auto-style8" value="乾燥" />乾燥
						<input type="radio" name="location11" class="auto-style8" value="皮薄" />皮薄
						<input type="radio" name="location11" class="auto-style8" value="敏感" />敏感
						<br />
						<input type="radio" name="location11" class="auto-style8" value="濕疹" />濕疹
						<input type="radio" name="location11" class="auto-style8" value="癬" />癬
					</font>
				</td>
			</tr>
		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style30">
					<font color="#0d62c3" size="4">
						睡眠狀況
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style41" valign="top">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location12" value="正常" class="auto-style8"/>正常
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location12" class="auto-style8" value="難入睡" />難入睡
						<input type="radio" name="location12" class="auto-style8" value="睡眠中斷" />睡眠中斷
						<input type="radio" name="location12" class="auto-style8" value="失眠" />失眠
					</font>
				</td>
			</tr>
		</table>

		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style30">
					<font color="#0d62c3" size="4">
						物質濫用
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style41" valign="top">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location13" value="無"class="auto-style8" />無
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<input type="radio" name="location13" class="auto-style8" value="抽菸" />抽菸
						<input type="radio" name="location13" class="auto-style8" value="酗酒" />酗酒
						<input type="radio" name="location13" class="auto-style8" value="藥物" />藥物
					</font>
				</td>
			</tr>
		</table>
		<div class="auto-style7">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="http://localhost:61906/Home/Reopen_Case_selection_page_Home_Service_Supervisor">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="http://localhost:61906/Home/Reopen_Single_case_care_Home_Service_Supervisor">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="http://localhost:61906/Home/Reopen_Case_history_Home_Service_Supervisor">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="http://localhost:61906/Home/Reopen_Other_assessments_Home_Service_Supervisor">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="http://localhost:61906/Home/Reopen_Information_upload_Home_Service_Supervisor">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="auto-style4">
			<br />
			<a href="http://localhost:61906/Home/Reopen_Other_assessments_Home_Service_Supervisor" class="btn btn-warning">下一頁</a>
		</div>
	</div>
</body>
</html>
