<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: left;
		}

		.auto-style3 {
			width: 37px;
			height: 29px;
		}

		.auto-style4 {
			width: 220px;
			text-align: center;
		}
		.auto-style5 {
			width: 114px;
			text-align: center;
		}

		.auto-style6 {
			font-size: medium;
		}
		.auto-style7 {
			font-size: small;
		}
		.auto-style8 {
			width: 276px;
			height: 156px;
		}

		.auto-style9 {
			width: 27px;
		}

	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div class="auto-style1">
			<div style="background-color:#0d62c3;" class="auto-style2">&nbsp;&nbsp; <input type="image" src="../../images/側欄按鈕.png" onclick="location.href='@Url.Action("Transitions", "Home")'" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Font color="#FFFFFF" size="5" face="標楷體">
					每次工作紀錄</Font></div>
		</div>
		<br />
		</div>
	<table align="center">
		<tr>
			<td bgcolor="#FF4081">
				<font color="#FFFFFF" size="5" face="標楷體">&nbsp;&nbsp; <span class="auto-style6">必選項目 自立生活訓練</span> <img src="../../images/必選項目.png" class="auto-style3" /></font></td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table style="border:2px #0d62c3" border="1" align="center">
		<tr>
			<td bgcolor="#FFFFFF">
				<font color="#0d62c3" face="標楷體"><strong><span class="auto-style7">健口<br />
				運動</span></strong></font>
			</td>
			<td bgcolor="#FFFFFF">
				<font size="5" face="標楷體"><span class="auto-style7">健口操 
				<br />
					<a href="https://www.youtube.com/watch?v=ZYgjKHwyA4g">https://www.youtube.com/watch?v=ZYgjKHwyA4g</a>
				<br />
				<br />
				依照手機健口操影片 完整完成一次</span>
				</font>
			</td>
		</tr>
	</table>
		<table style="border:1px #0d62c3" border="1" align="center">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style9">
				<font color="#0d62c3" face="標楷體"><strong><span class="auto-style7">活化<br />
				運動</span></strong></font>
			</td>
			<td bgcolor="#FFFFFF">
				<font size="5" face="標楷體" class="auto-style7">1.樂齡指導: 座椅活氧暖身
				<br />
					<a href="https://www.youtube.com/watch?v=cmELFpqNs2w">https://www.youtube.com/watch?v=cmELFpqNs2w</a><br />
				<br />
				2.樂齡指導: 座椅fun鬆伸展
					 
				<br />
				<br />
					<a href="https://www.youtube.com/watch?v=-zh8gVqzy70">https://www.youtube.com/watch?v=-zh8gVqzy70</a>
				<br />
				<br />
				依照手機健口操影片 完整完成一次
				</font>
			</td>
		</tr>
	</table>

	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<table align="center">
		<tr>
			<td class="auto-style5">
				<font face="標楷體" color="#8d2c4d" size="5" class="auto-style6"><strong>服務<br />
				紀錄</strong></font>
			</td>
			<td class="auto-style4">
				<input type="file" onchange="document.getElementById('BA00').src = window.URL.createObjectURL(this.files[0])">
				<br />
	<img src="../../images/照片icon.png" id="BA00" alt="your image" class="auto-style8" />
			</td>
		</tr>
	</table>
	<div class="auto-style1">
		<br />
		<br />
		<br />
		<br />
	<input type="button" class="btn btn-primary btn-lg" value="存檔"/>
		<br />
		<br />
	</div>
	</body>
</html>
