
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		.auto-style1 {
			width: 357px;
			height: 357px;
		}
		.auto-style2 {
			text-align: left;
		}
		.auto-style3 {
			text-align: right;
		}
		.auto-style4 {
			font-size: xx-large;
		}
		.auto-style5 {
			font-size: x-large;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style2">
		<span class="auto-style4">一、</span><br />
&nbsp;<img src="../../images/火災.png" class="auto-style1" /><br />
		<br />
		<br />
		<br />
		<br />
		<span class="auto-style4">二、</span><br />
		<br />
&nbsp;<img src="../../images/放鞭炮.png" class="auto-style1"  /><br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style5">三、</span><br />
&nbsp;<img src="../../images/玩水.png" class="auto-style1" /><br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">四、</span><br />
&nbsp;<img src="../../images/玩電器.png" class="auto-style1" /><br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">五、</span><br />
&nbsp;<img src="../../images/消防.png" class="auto-style1" /><br />
		<br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">六、</span><br />
&nbsp;<img src="../../images/撿球.png" class="auto-style1" />
	<br />
		<br />
	<br />
	<br />
	<br />
	<p class="auto-style3">@Html.ActionLink("返回", "Guardian_of_the_month_Home_attendant", "Home", new { @class = "btn btn-danger btn-lg" })</p>
	</div>
</body>
</html>
