<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
		}

		
		.auto-style3 {
			width: 300px;
		}


		.auto-style5 {
			width: 325px;
		}
		.auto-style7 {
			font-family:標楷體;
			font-size: medium;
		}
		.auto-style8 {
			font-family: 標楷體;
			font-size: medium;
			color: #0D62C3;
			width: 35px;
			height: 21px;
		}
		.auto-style9 {
			font-family:標楷體;
			font-size: large;
		}
		.auto-style10 {
			font-family: 標楷體;
			text-align: left;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div style="background-color:#0d62c3;" class="auto-style10">
			<input type="image" src="../../images/側欄按鈕.png"  onclick="location.href='@Url.Action("Transitions", "Home")'" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<Font color="#FFFFFF" size="5" face="標楷體"><span class="auto-style9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每次工作紀錄 </span>
			</Font>
		</div>
	</div>
	<table align="center" class="auto-style5" border="1">
		<tr>
			<td class="auto-style3">
				<font face="標楷體" size="5">
					<strong>
						<span class="auto-style7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 個別化照顧計畫 </span>
					</strong>
					<span class="auto-style7">
					<br />
					<br />
					核定項目:

					<br />
					<br />
					照顧目標:&nbsp; 個案</span><img src="../../images/箭頭.png" class="auto-style8" />
					<span class="auto-style7">
					<br class="auto-style7" />
					<br class="auto-style7" />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家屬</span><img src="../../images/箭頭.png" class="auto-style8" />
					<span class="auto-style7">
					<br />
					<br />

					自立運動:

					<br />
					<br />
					咀嚼功能:<br />
					<br />

					察督用藥:<br />
					<br />

					生活自信:<br />
					<br />

					照顧注意事項:
				</span>
				</font>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" face="標楷體">姓名:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">暱稱:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">地址:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">慣用語言:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">喜歡語言:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">喜歡的話題:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">興趣/喜好:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">過去職業:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">現在個性:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">禁忌:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">易接受方式:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">疾病史:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">用藥習慣:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">緊急連絡人:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">特殊生活習慣:</font></div><br />

</body>
</html>

