<html>
<head>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			text-align: right;
		}

		.auto-style3 {
			text-align: left;
		}

		.auto-style9 {
			width: 479px;
		}

		.auto-style10 {
			font-size: x-large;
		}
	</style>
</head>
<body style="background-color:#AAFFEE; width: 800px; height:1440px;">
	<div style="background-color:#0000C2;" class="auto-style1">
		<Font color="#FFFFFF" size="5">
			照顧日誌
		</Font>
	</div>
	<br />
	<div class="auto-style1">
		<font color="#ff0099" size="5">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font>
	</div>
	<br />
	<div class="auto-style3">
		<img src="~/images/日期icon(藍).png" align="bottom" /><font color="0000EB" size="5">107.11.15</font>
	</div>
	<div class="auto-style2">
		<br />
		<font color="0000EB" size="5"><strong>每日守護紀錄&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
	</div>
	<font color="#600000" size="5"><strong>生命徵象</strong></font> <img src="../../images/生命徵象icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>皮膚評估</strong></font> <img src="../../images/皮膚評估icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>疼痛評估</strong></font> <img src="../../images/疼痛評估icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>情緒評估</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>今日照顧</strong></font> <img src="../../images/醫藥箱icon(紫).png" align="center" />
	<br />
	<br />
	<table align="left">
		<tr>
			<td>
				<span class="auto-style10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 這幾天長輩的食慾不振，一直沒有什麼胃口</span>&nbsp;&nbsp;
			</td>
		</tr>
	</table>
	<br />
	<br />
	<br />
	<br />
	<br />
	<table class="auto-style9">
		<tr>
			<td>
				<font color="#600000" size="5"><strong>回家叮嚀</strong></font> <img src="../../images/回家叮嚀icon(紫).png" align="center" />
			</td>
			<td class="auto-style2">
				<a href="http://localhost:61906/Home/Home_Ding_Dong" class="btn btn-danger" >下一項</a>
			</td>
		</tr>
	</table>
	<br />
	<div class="auto-style2">
		<font color="0000EB" size="5"><strong>照顧計畫執行</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font>
	</div>
	<br />
	<font color="#600000" size="5"><strong>人際關係</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>自立運動</strong></font> <img src="../../images/自立運動icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>服藥情況</strong></font> <img src="../../images/醫藥箱icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>飲食情況</strong></font> <img src="../../images/飲食情況(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>排泄情況</strong></font> <img src="../../images/排泄情況icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>特殊照顧</strong></font> <img src="../../images/特殊照顧(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>其  他</strong></font> <img src="../../images/笑臉icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>	今日照顧情況</strong></font> <img src="../../images/今日照顧情況icon(紫).png" align="center" />
	<br />
	<font color="#600000" size="5"><strong>	回家叮囑</strong></font> <img src="~/images/回家叮囑icon(紫).png" align="center" />
	<br />
	<br />
	<br />
	<div class="auto-style1">
		<font color="0000EB" size="5"><strong>營養餐食</strong>&nbsp;</font>
	</div>
	<div class="auto-style2">
		<br />
		<br />
		<br />
		<br />
		<a href="#" class="btn btn-danger" />上一頁</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	<a href="#" class="btn btn-danger" />回首頁</a>
	</div>
</body>
</html>