<html>
<head>
	<stylyle>

	</stylyle>
	<style type="text/css">
		.auto-style1 {
			font-size: x-large;
		}

		.auto-style2 {
			width: 786px;
			height: 700px;
		}

		.auto-style3 {
			width: 631px;
		}

		.auto-style4 {
			text-align: center;
		}
	</style>
</head>
<body style="background-color:#C9AEF1; width: 800px; height:1440px;">
	<table align="center" class="auto-style1">
		<tr>
			<td bgcolor="#009393">
				<font color="#FFFFFF">工作手冊</font>
			</td>
		</tr>
	</table>
	<br />
	<table style="border:3px #009393 dashed;" align="center" class="auto-style3">
		<tr>
			<td class="auto-style2"></td>
		</tr>
	</table>
	<div class="auto-style4">
		<br />
		<br />
		<a href="http://localhost:61906/Home/Emergency_accident_handling_process_Home_Service_Supervisor" class="btn btn-default">我了解了</a>
	</div>
</body>
</html>
