<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照顧專欄-照顧技巧</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: right;
		}

		.auto-style3 {
			width: 361px;
			height: 199px;
		}

		.auto-style5 {
			width: 381px;
			text-align: center;
		}

		.auto-style7 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}


		.auto-style9 {
			font-size: large;
		}
		.auto-style10 {
			font-family: 標楷體;
			font-size: x-large;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; ">
	<div style="background-color:#0000C2;" class="auto-style5">
					<Font color="#FFFFFF">
						&nbsp;&nbsp;&nbsp;&nbsp;<span class="auto-style10">照顧專欄 -照顧技巧</span>
					</Font>
	</div>

	<br />
	<div class="auto-style7">
		<marquee direction="up" scrollamount="1" class="auto-style9"><font color="#ff0099">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font></marquee>
	</div>
	<div class="auto-style1">
		<br />
		<br />
		<iframe src="https://www.youtube.com/embed/rfh0cpyv6hc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="auto-style3"></iframe>	<br />
		<br />
		<br />
		<br />
	</div>
    <div class="auto-style2">
        <br />
        <br />
        <input type="button" class="btn btn-danger btn-lg" value="上一頁" onclick="location.href = '@Url.Action("Carecolumn", "Home")'" />
    </div>

</body>
</html>