<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照顧專欄-課程資訊</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style type="text/css">

			.auto-style2 {
				font-family: 標楷體;
				text-align: right;
			}

			.auto-style6 {
				font-family: 標楷體;
				font-size: x-large;
				width: 335px;
				height: 1015px;
			}


			.auto-style7 {
				width: 25px;
				height: 15px;
			}


			.auto-style8 {
				width: 25px;
				height: 15px;
			}

			.auto-style9 {
				width: 30px;
				height: 31px;
			}

			.auto-style10 {
				text-align: center;
				width: 65px;
			}

			.auto-style11 {
				font-family: 標楷體;
				font-size: xx-large;
				width: 381px;
				text-align: center;
			}
			.auto-style15 {
				font-family: 標楷體;
				font-size: x-large;
				text-align: center;
			}

			.auto-style16 {
				width: 377px;
				font-size: large;
			}

			.auto-style17 {
				font-size: small;
			}

			.auto-style18 {
				font-size: medium;
			}

			.auto-style19 {
				text-align: left;
				height: 20px;
			}

			.auto-style20 {
				font-size: xx-large;
			}
		</style>
	</head>
	<body style="background-color:#FAF4FF; ">
		<div style="background-color:#0000C2;" class="auto-style11">
						<Font color="#FFFFFF">
							<span class="auto-style20">照顧專欄 - 課程資訊</span>
						</Font>
		</div>

		</div>
		<div class="auto-style15">
			<br />
			<marquee direction="up" scrollamount="1" class="auto-style16"><font color="#ff0099">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font></marquee>
		</div>
		<br />
		<br />
		<table align="center" class="auto-style6">
			<tr>
				<td colspan="2" bgcolor="#FFE8E8" class="auto-style19">
					<br />
					&nbsp;&nbsp;&nbsp;<input type="image" src="~/images/箭頭icon.png" class="auto-style7" />
					<br />
				</td>
			</tr>
			<tr>
				<td colspan="2" bgcolor="#FFE8E8" class="auto-style19">
					<br />
					&nbsp;&nbsp;&nbsp;<input type="image" src="~/images/欄位圖案icon.png" class="auto-style8" class="auto-style7" />
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">全國失智症家屬照顧技巧訓練課程暨家屬支持團體</span>
					</strong>
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style18">
							Navigation item
						</span>
					</strong>
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">
							Navigation item
						</span>
					</strong>
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">Navigation item</span>
					</strong>
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">
							Navigation item
						</span>
					</strong>
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<br />
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">
							John Username
						</span>
					</strong>
					<span class="auto-style17">
						<br />
					</span>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFE8E8" class="auto-style10">
					<br />
					<input type="image" src="~/images/星星icon.png" class="auto-style9" />
					<br />
				</td>
				<td bgcolor="#FFE8E8" valign="center">
					<br />
					<strong>
						<span class="auto-style17">
							Setting
						</span>
					</strong>
					<br />
				</td>
			</tr>
		</table>
        <div class="auto-style2">
            <br />
            <br />
            @Html.ActionLink("上一頁", "Carecolumn", "Home", new { @class = "btn btn-danger btn-lg" })
            <br />
            &nbsp;
        </div>
	</body>
</html>