<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-緊急意外流程</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-size: x-large;
			font-family:標楷體;
		}

		.auto-style2 {
			text-align: center;
			font-family:標楷體;
		}

		.auto-style3 {
			width: 357px;
			height: 660px;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; ">
	<div class="text-center">
		<table align="center" class="auto-style1">
			<tr>
				<td bgcolor="#009393">
					<font color="#FFFFFF">緊急意外處理流程</font>
				</td>
			</tr>
		</table>
		<br />
		<textarea style="border:3px blue dashed; resize : none" NAME="TALK" class="auto-style3" readonly="readonly">
＃緊急事件，包括下列事件：
(一)天然災害：風災、水災、震災、土石流等天然災害。
（二）意外事件：毒性化學物質災害、動物性傷害、傳染病、食（藥）物中毒、交通事故及其他意外性傷亡事件。
(三）公共安全事件：火災、爆炸災、公用氣體與油料管線、輸電線路災害及其他因公共設施產生之傷害。
（四）暴力衝突事件：各機構內外之衝突、暴力或攻擊事件。
（五）其他緊急事件。
＃機構應針對可能發生之危機事件，加強防範，採取下列預防措施：
（一）成立危機管理小組，明確劃分工作權責，並由主任擔任召集人。\
（二）針對各種危機事件，訂定應變計畫及處理流程。
（三）隨時偵測發掘可能之危機，加強防範措施。
（四）定期辦理住民與員工防災之安全演練。
（五）貫徹工作流程：機構訂定工作正確流程，提供員工遵循執行，減少危機事件發生。
（六）建立緊急通報系統，並隨時更新資料。
（七）加強特殊個案及員工（如：曾有暴力衝突、酗酒等）之輔導。
（八）定期辦理特殊個案研討，並製作紀錄。
（九）建立住民互助及通報機制。
（十）強化安全防護措施，各項救援、防護及逃生設備應定期維修及更新。
	
＃機構針對可能發生之危機事件，應依下列原則訂定標準處理程序：
（一）現場緊急處理並通知主任。
（二）依危機處理小組分工權責辦理：
１.報案：視事件性質轄區派出所報案並配合採證。
２.緊急送醫救護。
３.通報：通報家屬及主管單位。
（三）召開危機處理小組會議。
（四）確定後續處理工作，並研擬善後計畫。
（五）檢討及善後處理。

＃為適時掌握機構危機事件，加速處理應變，依各級危機事件之輕重程度區分如下：
（一）甲級事件：
１.住民、員工因危機事件導致人員死亡。
２住民、員工經醫師診斷罹患傳染病或疑似罹患傳染病致死。
３住民、員工疑似群聚感染傳染病。
(二）乙級事件：
１.住民、員工因危機事件導致重傷或有死亡之虞。
２.住民、員工疑似罹患傳染病。
３.其他未達甲級事件程度，且機構無法即時處理之事件。
（三）丙級事件：
１住民、員工因危機事件受傷。
２其他未達乙級事件程度，且各機構無法即時處理之事件。
十、機構發生危機事件時，應依下列時限通報：
（一）甲級事件：應於獲知事件10分鐘內先以口頭通報主管單位。
（二）乙級事件：應於獲知事件1小時內先以口頭通報主管單位。
(三）丙級事件：應於獲知事件24小時內，通報主管單位。
</textarea>
		<div class="auto-style2">
			<br />
			<br />
			@Html.ActionLink("我了解了", "Home_attendant_main_sign_in_page", "Home", new { @class = "btn btn-primary btn-lg" })
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
</body>
</html>
