<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-成功申報</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
		}

		.auto-style2 {
			width: 340px;
			height: 603px;
		}

		.auto-style3 {
			font-size: xx-large;
			font-family: 標楷體;
		}

		.auto-style4 {
			text-align: right;
		}
		.auto-style5 {
			font-family: 標楷體;
		}
		.auto-style6 {
			text-align: center;
			font-family: 標楷體;
		}
		.auto-style7 {
			font-family: 標楷體;
			width: 347px;
			height: 41px;
			text-align: left;
			font-size: large;

		}

	</style>
</head>
<body style="background-color:#FAF4FF; ">
	<div class="auto-style1">
			<marquee direction="up" scrollamount="1" class="auto-style7"><font color="#ff0099">
				公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告
			</font></marquee>
	</div>
	<p>
		<br class="auto-style5" />
	</p>
	<table align="center" class="auto-style2">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style1">
				<span class="auto-style3">已收到您的意見</span><br class="auto-style3" />
				<span class="auto-style3">將會有專人與您聯繫</span><br class="auto-style3" />
				<span class="auto-style3">謝謝您</span><br class="auto-style3" />
				<br class="auto-style5" />
				<br class="auto-style5" />
				<br class="auto-style5" />
				<br class="auto-style5" />
				&nbsp;<span class="auto-style5"><font color="0000FF">~您寶貴建議是我們前進最大的動力~</font>
			</span>
			</td>
		</tr>
	</table>
	<div class="auto-style4">
		<br class="auto-style5" />
		<br class="auto-style5" />
		<span class="auto-style5">
		@Html.ActionLink("回首頁", "Home_attendant_index", "Home", new { @class = "btn btn-danger btn-lg" })
	</span>
	</div>
</body>
</html>
