<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>家屬手冊</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
			color: #FFFFFF;
			font-size: x-large;
			background-color: #0000C2;
		}

		.auto-style2 {
			text-align: center;
			height: 792px;
		}

		.auto-style3 {
			width: 357px;
			height: 602px;
		}

		textarea {
			font-size: x-large;
			font-family: 標楷體;
			resize: none;
		}
	</style>
</head>
<body style="background-color:#FAF4FF;  ">
		<div class="auto-style1" >
				家 屬 權 利 義 務 說 明</div>
		<div class="auto-style2">
			<br />
<textarea class="auto-style3" style="border:2px #d0d0d0 solid;" cols="20" name="S1" readonly="readonly">
第一條 服務方式：以政府公告項目提供 。
第二條	服務對象：居住本市之年滿65歲以上老人、50歲以上失智症患者、失能之身心障礙者及55歲以上之失能原住民，同時檢附經醫師診斷證明無傳染病之虞之體檢報告，及經評估有居家照顧需求者。
第三條	服務內容：
依照政府公告給付支付服務，除政府公告外服務自費並取得雙方同意，如有提供受照顧人之醫療資料記載醫囑事項，本單位應依照醫囑事項辦理。
第四條	服務時間：
星期一至星期五上午八時至下午五時中之議定服務時段，國定假日及星期例假日休息，服務時段如遇有特殊狀況如颱風等其他因素，得比照行政院人事行政總處規定辦理。
第五條	服務費用：
一、依經衛生局同意核備之標準收費（非衛生局核備之項目需與中心協調服務內容及收費方式）。
※不得重複請領補助情形：受照顧人若聘有外籍看護工，自外籍看護工到職日，或有停止使用服務或重複領有其他照顧補助等情形，不得申請居家服務補助，並應主動告知本中心、繳還已支付之服務補助經費；如經查證以詐欺或其他不正當行為或虛偽之證明申請補助費用者，應負一切法律責任。
二、本中心經衛生局同意收費調整前款所定各項費用。
第六條  繳費時間：
一、符合服務標準者，於正式服務開始後需於次月初繳足當月費用。二、每月服務者，應於次月前五日前繳交服務費用，經書面催繳後至該月底若仍未繳費，本中心有權停止服務。 
第七條  停止服務：
一、停止服務需結案者，應於半個月前告知。
二、受照顧人因疾病接受住院治療超過一個月或死亡，無法接受收托服務時，本中心得主動辦理結案，日後若有服務需求，需重新提出申請。
三、請假或其他因素致本中心無法提供服務及未依規定辦理停止服務者，本中心不予退費。
四、本中心如因組織調整或人事變動，無法提供服務者，應於半個月前通知終止服務。
五、暫停服務(含請假)：原則上以1個月為限，若超過1個月，本中心得辦理結案，日後若有服務需求，需重新提出申請。
第八條  善盡照顧之義務：
一、本中心定期評估受照顧人之狀況，建立受照顧人資料。
二、收托期間受照顧人身心發生變化者，本中心應告知其變化。
三、受照顧人及家屬之財務應主動收藏妥，自行負責保管，本中心不負保管之責任。
四、委託人或受照顧人若出現傷己或傷人之行為時，本中心在安全考量下，應通知委託人共同研商因應措施；若造成本中心損失，委託人同意賠償損失。
五、受照顧人有下列行為之一，經勸阻、疏導無法制止，且無其他替代照顧措施者，徵得委託人同意，並經醫師診斷或有臨床護理工作三年以上護理人員參據醫師既往診斷紀錄，經評估有約束之必要後，應依規定之約束準則使用適當約束物品：
(一)受照顧人有傷害自己或他人之行為。
(二)受照顧人常有跌倒情事，而有安全顧慮之虞。
六、因受照顧人接受本中心照顧，依照醫囑須由照服員協助用藥，委託人同意將受照顧人之藥物委託代為保管並依醫囑交由受照顧人服用，其用藥責任由委託人自行負責，與本中心無涉。
第九條  委託人及受照顧人如有下項事項之一者，本中心得視情形逕行終止契約：
一、本中心每6個月評估受照顧人之日常生活功能或認知功能，受照顧人健康狀況改變，致不符合主管機關核定之服務對象。但於契約終止後，經委託人或受照顧人或其家屬、緊急聯絡人請求者，應協助轉介受照顧人至適當機構醫療或養護。
二、受照顧人受有期徒刑以上刑之宣告確定，而未諭知緩刑或未准易科罰金。
三、受照顧人(含家屬或代表)不接受本中心人員之照顧、處置、輔導或無法適應本中心所提供之居服照顧者。
四、委託人或受照顧人於訂立契約時，以詐術使本中心誤信受照顧人符合服務條件，或為其他虛偽之意思表示，使本中心誤信而有受損害之虞者，得終止契約。
五、委託人無故當月累計2次未按時間接受服務，且未能充分與本中心討論解決之道者。
第十條  本中心有下列情形之一者，委託人得逕行通知終止契約：
一、本中心或其使用人於訂立契約時為虛偽之意思表示，使受照顧人誤信而有受損害之虞。
二、本中心之受僱人或其使用人對於受照顧人實施暴行或有重大侮辱之行為。
三、本中心之受僱人、使用人或其他受照顧人患有法定傳染病，有傳染之虞者。但本中心已將該受僱人、使用人或受照顧者送醫診治，並證明已無傳染之虞者，不在此限。
四、本中心提供服務之處所，有危害受照顧人之安全或健康，或有危害之虞。
前項契約終止後，若有損害，得請求損害賠償。
第十一條  本中心每年至少辦理1次家屬聯誼或座談會。
第十二條  委託人或受照顧人因事故需請假者，應於前一日告知；請假超過2個月以停止服務論。
第十三條  委託人或受照顧人擅自變更使用或毀損本中心所提供之設施者，得知會委託人毀損金額後，再行回復或為其他必要之處置。因此所生費用或其他損害，本中心得檢附單據向委託人請求賠償。
委託人或受照顧人方經本中心同意變更使用其所提供之設備，或另行增設新設施其費用應由委託人自行負責，且該等經變更或新增之設施非毀損不能分離或分離需費過鉅者，於契約期滿或終止時，本中心得為必要之處置，委託人不得拆除及請求賠償。
第十四條  雙方如因契約而生之訴訟，悉以中華民國法律為準據法，且雙方同意以台中地方法院為第一審管理法院。

</textarea>
			<br />
			<br />
			<br />
			<br />
			@Html.ActionLink("我了解了", "Familindex", "Home", new { @class = "btn btn-primary btn-lg" })
			</div>
</body>
</html>
