<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-上班打卡登入</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
			font-size: large;
		}

		.auto-style2 {
			width: 62px;
			height: 79px;
			font-family: 標楷體;
		}

		.auto-style4 {
			width: 250px;
			font-family: 標楷體;
		}

		.auto-style5 {
			font-size: small;
			font-family: 標楷體;
		}

		.auto-style6 {
			width: 340px;
			font-family: 標楷體;
		}
		.auto-style7 {
			width: 35px;
			height: 24px;
			font-family: 標楷體;
		}

		.auto-style8
		{
			font-family:標楷體;
			font-size:large;
		}

		.auto-style9 {
			font-family: 標楷體;
			font-size: x-large ;
			color:#FF9224;
		}

		.auto-style10 {
			height: 39px;
		}

		.auto-style11 {
			width: 193px;
			height: 59px;
		}

		.auto-style12 {
			width: 180px;
		}

	</style>


</head>
<body style="background-color:#FAF4FF;  ">
	<div class="auto-style1">
		<marquee direction="up" scrollamount="1" class="auto-style6"><font color="#ff0099">公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告</font></marquee>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<form action="~/Home/Main_sign_in_success" method="post">
		<div class="auto-style1">
			<div>
				&nbsp;<table align="center" class="auto-style11">
					<tr>
						<td bgcolor="#00E3E3" class="auto-style10">
							&nbsp;<span class="glyphicon glyphicon-ok"></span><span class="auto-style9"><strong> 到點成功</strong></span>
						</td>
					</tr>
				</table>
			</div>
			<br />
			<label for="inputusr_index">
				<span class="auto-style8">單位代號:</span>
				<input type="text" id="inputusr_index" name="usr_index" required class="auto-style12" />
			</label>
			<label for="inputtim">
				<input type="datetime" id="inputtim" name="tim" placeholder="@DateTime.Today" value="@DateTime.Today" hidden="hidden" />
			</label>
		</div>
		<br />
		<label for="inputusr_name">
			<span class="glyphicon glyphicon-user"></span><span class="auto-style8">人員名稱:</span>
			<input type="text" id="inputusr_name" name="usr_name" required="required" class="auto-style12" />
		</label>
		<table align="center" class="auto-style4">
			<tr>
				<td class="auto-style1">
					<img src="../../images/自我檢核.png" class="auto-style2" />
				</td>
				<td class="auto-style1">
					<label for="inputtemperature">
						<input type="checkbox" id="inputtemperature" name="temperature" class="auto-style7" value="ok" required /><br />
						<strong><span class="auto-style5">量體溫 OK</span></strong>
					</label>
				</td>
				<td class="auto-style1">
					<label for="inputHand">
						<input type="checkbox" id="inputHand" name="Hand" class="auto-style7" value="ok" required /><br />
						<strong><span class="auto-style5">手部清潔 OK</span></strong>
					</label>
				</td>
				<td class="auto-style1">
					<label for="inputMask">
						<input type="checkbox" id="inputMask" name="Mask" class="auto-style7" value="ok" required /><br />
						<strong><span class="auto-style5">戴口罩 OK</span></strong>
					</label>
				</td>
				<td class="auto-style1">
					<label for="inputGloves">
						<input type="checkbox" id="inputGloves" name="Gloves" class="auto-style7" value="ok" /><br />
						<strong><span class="auto-style5">戴手套 OK</span></strong>
					</label>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<input type="submit" class="btn btn-danger" value="存檔 進入" onclick="location.href = window.alert('已存檔');" />
		<br />

	</form>/Home/Select_case_schedule
	</div>
	<hr style="border:4px dashed #46A3FF" />
	<br />
	<br />
	<br />
	<!--<input type="image" src="~/images/再次進入icon.png" class="btn" onclick="location.href='@Url.Action("Home_attendant_index", "Home") '" />
	<br />
	<br />
	<br />
		<input type="image" src="~/images/離點打卡icon.png" class="btn" onclick="location.href='@Url.Action("sign_out", "Home")'" />

		-->



</body>

</html>	