<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-下班打卡登出</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
			font-size: large;
		}

		.auto-style3 {
			text-align: right;
			font-family: 標楷體;

		}

		.auto-style4 {
			width: 340px;
			font-family: 標楷體;
		}
		.auto-style6 {
			width: 193px;
			height: 59px;
		}
		.auto-style7 {
			height: 39px;
			text-align: center;
		}
		.auto-style8 {
			font-family: 標楷體;
			font-size: x-large ;
			color:#FF8000;

		}



		.auto-style9 {
			font-family: 標楷體;
			text-align: right;
			font-size: xx-large;
		}



		.auto-style10 {
			height: 39px;
			font-family: 標楷體;
			font-size: x-large;
			color: #0000E3;
			text-align: center;
		}



	</style>
</head>

<body style="background-color:#FAF4FF; ">
	<div class="auto-style3">
		<div class="auto-style1">
			<marquee direction="up" scrollamount="1" class="auto-style4"><font color="#ff0099">公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告</font></marquee>
		</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="auto-style9">

			&nbsp;<table align="center" class="auto-style6">
				<tr>
					<td bgcolor="#FF9224" class="auto-style10">
						<strong> 到點成功</strong></td>
				</tr>
			</table>
				</div>
			<br />
			<br />
			<br />
			<div class="auto-style1"><input type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Home_attendant_index", "Home")'" value="再次進入" style="width: 189px; height: 57px;font-size:25px ; color:#0000E3;font-weight:bold;"/>
			
			</div>

			<br />
			<br />
			<br />
			<div>
			<table align="center" class="auto-style6">
				<tr>
					<td bgcolor="#00E3E3" class="auto-style7">
						&nbsp;<span class="glyphicon glyphicon-ok"></span><span class="auto-style8"><strong> 離點成功</strong></span></td>
				</tr>
			</table>
				</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<br />
	<div class="auto-style3">
			<input type="button" class="btn btn-light" onclick="location.href = '@Url.Action("Login", "Home")'" value="離開" style="width: 189px; height: 57px ;font-size:30px;"/>
	</div>
</body>
</html>
