<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-工作手冊</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-size: x-large;
			font-family:標楷體;
		}

		.auto-style2 {
			width: 357px;
			height: 500px;
		}

		.auto-style3 {
			width: 327px;
		}

		.auto-style4 {
			text-align: center;
			font-family: 標楷體;
		}
	</style>
</head>
<body style="background-color:#FAF4FF;">
	<table align="center" class="auto-style1" readonly="readonly">
		<tr>
			<td bgcolor="#009393">
				<font color="#FFFFFF">工作手冊</font>
			</td>
		</tr>
	</table>
	<br />
	<table style="border:3px #009393 dashed;" align="center" class="auto-style3">
		<tr>
			<td class="auto-style2"></td>
		</tr>
	</table>
	<div class="auto-style4">
		<br />
		<br />
		@Html.ActionLink("我了解了", "Emergency_accident_handling_process", "Home", new { @class = "btn btn-primary btn-lg" })
	</div>
</body>
</html>
