<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-BA01 基本身體清潔</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
			color:#FFFFFF;
		}

		.auto-style2{
			font-family:標楷體;
			font-size:large;
		}
		.auto-style3 {
			font-family: 標楷體;
			width: 37px;
			height: 29px;
		}

		.auto-style6 {
			font-family: 標楷體;
			width: 320px;
		}
		.auto-style7 {
			font-family: 標楷體;
			text-decoration: underline;
		}
		
		.auto-style8 {
			font-family: 標楷體;
			width: 150px;
			height: 150px;
		}


		.auto-style13 {
			font-family: 標楷體;
			font-size: medium;
		}
		.auto-style14 {
			font-family: 標楷體;
			font-size: x-large;
		}
		.auto-style16 {
			font-size: x-large;
		}
	    .auto-style17 {
            font-family: 標楷體;
            font-size: large;
            text-align: left;
        }
	</style>
</head>
<body style="background-color:#FAF4FF; ">
    <div class="text-right">
        <div style="background-color:#0d62c3;" class="auto-style1">
            <span class="auto-style16">
                每次工作紀錄
            </span>
        </div>
        <br />
        <table align="center">
            <tr>
                <td bgcolor="#FF4081">
                    <font color="#FFFFFF" size="5" face="標楷體">&nbsp;&nbsp; <span class="auto-style14">BA01 基本身體清潔</span><span class="auto-style13"> </span> <img src="../../images/基本身體清潔.png" class="auto-style3" />&nbsp;&nbsp;&nbsp; </font>
                </td>
            </tr>
        </table>
        <p>
            <br />
        </p>
        <table style="border:2px #0d62c3" border="1" align="center" class="auto-style6">
            <tr>
                <td bgcolor="#FFFFFF" class="text-left">
                    <font color="0d62c3" size="5" face="標楷體" class="auto-style13">
                        1.長照需要者之身體清潔需要完成以下項目:
                        <span class="auto-style7">梳頭修面、穿脫衣服、床上擦澡、床上洗頭、排泄物清理(含當次更換尿片、倒尿袋等)</span>。
                        <br />
                        <br />
                        2.床上洗頭及排泄物清理、若個案無須求得不執行。

                        <br />
                        <br />
                        3.本組合服務原則以1日使用1組合；必要時得早晚各使用1組合,且執行BA01之同一時段,不可併同申報BA07及BA23。
                    </font>
                </td>
            </tr>
        </table>

        <br />
        <br />
        <table align="center" class="auto-style2">
            <tr>
                <td class="auto-style17">
                    第一步 : 請點選"選擇檔案"。<br />
                    第二步:進行拍照。

                    <br />
                    第三步 : 存檔。

                </td>
            </tr>
        </table>

        <br />
        <br />
        <form action="@Url.Action("BA01")" enctype="multipart/form-data" method="post">
            <div class="text-center">
                <input type="file" name="BA01loc" onchange="document.getElementById('BA01').src = window.URL.createObjectURL(this.files[0])">
                <div class="text-center">
                    &nbsp;<br />
                    <img src="~/images/照片1.jpg" id="BA01" alt="your image" class="auto-style8" />
                </div>
            </div>
            <br />
            <br />

            <!--
            <table align="center" class="auto-style15">
                <tr>
                    <td class="auto-style5">
                        <font face="標楷體" color="#8d2c4d" size="5">
                            <strong>
                                <span class="auto-style13">
                                    服務<br />
                                    紀錄
                                </span>
                            </strong>
                        </font>
                    </td>
                    <td class="auto-style4">
                        <input type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                        <br />
                        <img src="../../images/照片icon.png" id="blah" alt="your image" class="auto-style12" />
                    </td>
                </tr>
            </table>
            <p>
                &nbsp;<br />
            </p>
                -->

            <div class="auto-style1">
                <br />
                <br />
                <input type="submit" class="btn btn-primary btn-lg" value="存檔" onclick="location.href = window.alert('已存檔');" />
                <br />
                <br />
                <br />
            </div>
        </form>
        <div class="text-right">
            <input type="button" class="btn btn-danger btn-lg" value="上一頁" onclick="location.href = '@Url.Action("Daily_care_record_Home_attendant", "Home")'" />

        </div>
    </div>
</body>
</html>
