<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-受虐評估</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">

		.auto-style3 {
			font-family: 標楷體;
			text-align: right;
		}

		.auto-style6 {
			font-family: 標楷體;
			font-size: large;
			width: 190px;
		}

		.auto-style11 {
			font-size: large;
		}

		.auto-style14 {
			font-family: 標楷體;
			font-size: medium;
			text-align: center;
			width: 59px;
		}

		.auto-style15 {
			font-size: medium;
		}

		.auto-style17 {
			width: 89px;
			text-align: right;
		}

		.auto-style18 {
			text-align: right;
		}

		.auto-style19 {
			font-family: 標楷體;
			width: 375px;
		}
	</style>
</head>
<body style="background-color:#FAF4FF;">
	<Table class="auto-style19">
		<tr>
			<td bgcolor="#5772EE" rowspan="6" class="auto-style14">
				<font color="#FFFFFF" size="5">
					<span class="auto-style14">
						低度<br />
						危機
					</span>
				</font>
			</td>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 抱怨照顧困難</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location" value="是" />是&nbsp; <input type="radio" name="location" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 照顧者是否有藥癮</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location1" value="是" />是&nbsp; <input type="radio" name="location1" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 照顧者是否有酒癮</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location2" value="是" />是&nbsp; <input type="radio" name="location2" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; </span><span class="auto-style15">家中是否有人患精神疾病</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location3" value="是" />是&nbsp; <input type="radio" name="location3" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; </span><span class="auto-style15">家中是否為了財產或照顧</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location4" value="是" />是&nbsp; <input type="radio" name="location4" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 問題爭吵</span></font><span class="auto-style11"> </span>
			</td>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location5" value="是" />是&nbsp; <input type="radio" name="location5" value="否" />否
			</td>
		</tr>
	</Table>
	<p>
		<br />
	</p>
	<Table class="auto-style19">
		<tr>
			<td bgcolor="#5772EE" rowspan="3" class="auto-style14">
				<font color="#FFFFFF" face="標楷體" size="5">
					<span class="auto-style14">
						中度<br />
						危機
					</span>
				</font>
			</td>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 是否有出現不明傷口</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location6" value="是" />是&nbsp; <input type="radio" name="location6" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體">&nbsp; 日常照顧遭忽略</font>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location7" value="是" />是&nbsp; <input type="radio" name="location7" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 吼叫或恐嚇行為</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style18">
				<input type="radio" name="location8" value="是" />是&nbsp; <input type="radio" name="location8" value="否" />否
			</td>
		</tr>
	</Table>
	<p>
		<br />
	</p>
	<Table class="auto-style19">
		<tr>
			<td bgcolor="#5772EE" rowspan="3" class="auto-style14">
				<font color="#FFFFFF">
					<span class="auto-style14">
						高度<br />
						危機
					</span>
				</font>
			</td>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體"><span class="auto-style11">&nbsp; 是否有立即生命危險</span></font><span class="auto-style11"> </span>
			</td>
			<td class="auto-style17">
				<input type="radio" name="location9" value="是" />是 <input type="radio" name="location9" value="否" />否
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font color="#5772EE" face="標楷體">&nbsp; 是否疑似被遺棄</font>
			</td>
			<td class="auto-style17">
				<input type="radio" name="location10" value="是" />是 <input type="radio" name="location10" value="否" />否
			</td>
		</tr>
	</Table>
	<div class="auto-style3">
		<br />
		<br />
		<br />
		<br />
		@Html.ActionLink("上一頁", "Guardian_of_the_month_Home_attendant", "Home", new { @class = "btn btn-danger btn-lg" })
	</div>
</body>
</html>
