<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-情緒評估</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			width: 330px;
			height: 212px;
		}

		.auto-style3 {
			font-family: 標楷體;
			width: 17px;
			height: 17px;
		    text-align:center;
		}

		.auto-style5 {
			font-family: 標楷體;
			font-size: x-large;
		}

		.auto-style6 {
			text-align: center;
			font-family: 標楷體;
			font-size: x-large;
		}

		.auto-style7 {
			font-family: 標楷體;
			font-size: xx-large;
		}
		</style>


</head>
<body style="background-color:#FAF4FF; ">
	<div class="auto-style1">
		<font color="#E51C23" face="標楷體">
			<span class="auto-style7">
				不管上下一定要<br />
				複選二項喔!!
			</span>
		</font>
		<br />
		<br />
	</div>
	<table align="center" class="auto-style2">
		<tr>
			<td class="auto-style1">
				<font color="#000000"><span class="auto-style5">正向情緒</span></font>
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				<font face="標楷體" color="#B43438">
					<input type="checkbox" value="發紅" class="auto-style3" />高興 <input type="checkbox" value="腫脹" class="auto-style3" />愉快 <input type="checkbox" value="挫傷" class="auto-style3" />欣喜<br />
					<input type="checkbox" value="瘀傷" class="auto-style3" />祥和 <input type="checkbox" value="疥瘡" class="auto-style3" />熱忱 <input type="checkbox" value="水腫" class="auto-style3" />得意<br />
					<input type="checkbox" value="壓傷" class="auto-style3" />快樂 <input type="checkbox" value="燒燙傷" class="auto-style3" />平穩 <input type="checkbox" value="手術傷口" class="auto-style3" />平淡<br />
					<input type="checkbox" value="手術傷口" class="auto-style3" />小確幸&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</font>

			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center" class="auto-style2">
		<tr>
			<td class="auto-style1">
				<font color="#000000"><span class="auto-style5">負向情緒</span></font>
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td class="auto-style6">
				&nbsp;<font face="標楷體" color="#B43438">
					<input type="checkbox" value="發紅" class="auto-style3" />激昂 <input type="checkbox" value="腫脹" class="auto-style3" />生氣 <input type="checkbox" value="挫傷" class="auto-style3" />憂慮&nbsp;&nbsp;&nbsp; <br />
					<input type="checkbox" value="瘀傷" class="auto-style3" />焦慮 <input type="checkbox" value="疥瘡" class="auto-style3" />傷心 <input type="checkbox" value="水腫" class="auto-style3" />不安&nbsp;&nbsp; <br />
					<input type="checkbox" value="壓傷" class="auto-style3" />沮喪 <input type="checkbox" value="燒燙傷" class="auto-style3" />無助 <input type="checkbox" value="手術傷口" class="auto-style3" />害怕&nbsp;&nbsp; <br />
					<input type="checkbox" value="發紅" class="auto-style3" />疲累 <input type="checkbox" value="腫脹" class="auto-style3" />煩悶 <input type="checkbox" value="挫傷" class="auto-style3" />煩躁&nbsp;&nbsp; <br />
					<input type="checkbox" value="瘀傷" class="auto-style3" />多話 <input type="checkbox" value="疥瘡" class="auto-style3" />退縮 <input type="checkbox" value="水腫" class="auto-style3" />寡言&nbsp;&nbsp; <br />
					&nbsp;<input type="checkbox" value="壓傷" class="auto-style3" />謾罵 <input type="checkbox" value="燒燙傷" class="auto-style3" />淡默不語&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<br />
					&nbsp;<input type="checkbox" value="手術傷口" class="auto-style3" />害怕&nbsp;<input type="checkbox" value="壓傷" class="auto-style3" />攻擊行為&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</font>

			</td>
		</tr>
	</table>
	<div class="text-center">
	<input type="submit" class="btn btn-primary btn-lg" value="存檔" onclick="location.href='@Url.Action("Every_guardian_the_record", "Home")'" />
	</div>
</body>
</html>