<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>家屬照顧紀錄</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">

		.auto-style3 {
			width: 336px;
		}

		.auto-style4 {
			font-size: xx-large;
		}

		.auto-style5 {
			font-size: medium;
			width: 30px;
			height: 30px;
			font-family: 標楷體;
		}

		textarea {
			resize: none;
		}

		.auto-style6 {
			width: 186px;
			height: 86px;
		}

		.auto-style7 {
			width: 149px;
		}

		.auto-style8 {
			text-align: right;
			font-family:標楷體;
		}

		.auto-style9 {
			font-size: medium;
			font-family:標楷體;
		}

		.auto-style12 {
			font-size: medium;
			font-family: 標楷體;
		}

		.auto-style13 {
			width: 127px;
		}

		.auto-style14 {
			width: 312px;
		}

		.auto-style15 {
			font-size: large;
			font-family: 標楷體;
		}

		.auto-style16 {
			font-size: medium;
			font-family: 標楷體;
			width: 119px;
		}

		.auto-style17 {
			text-align: left;
		}

		.auto-style18 {
			border-style:none;
		}

		.auto-style19 {
			width: 320px;
		}

		.auto-style22 {
			text-align: center;
			font-family: 標楷體;
		}

		.auto-style23 {
			text-align: center;
			font-family: 標楷體;
			font-size: large;
		}

		.auto-style24 {
			font-size: x-large;
		}

		</style>
</head>
<body style="background-color:#FAF4FF;">
		<div  style="background-color:#0000C2;" class="auto-style23">
					<Font color="#FFFFFF">
						<span class="auto-style24">家屬照顧紀錄</span>
					</Font>
		</div>
	<br />
	<div class="auto-style22">
		<marquee direction="up" scrollamount="1" class="auto-style19"><font color="#ff0099">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font></marquee>
	</div>
	<form action="/Home/Family_care_records" method="post">
		<div class="auto-style17">
			<br />
			<label>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img src="~/images/日期icon(藍).png" />
				&nbsp;&nbsp;&nbsp; <input type="hidden" name="time" value="@DateTime.Now" class="auto-style18" readonly />@DateTime.Now
			</label>
			<label>
				<font color="0000EB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="auto-style9">姓名:</span></font>
			</label>
			<br />
			<br />
		</div>
		<table align="center" class="auto-style3">
			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">就醫</span></strong></font>
					<img src="~/images/生命徵象icon(紫).png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location5" value="有去就醫" onclick="javascript: location.href ='@Url.Action("When_go_to_the_doctor", "Home")'" class="auto-style5" /><span class="auto-style15"> 有去就醫</span><span class="auto-style12">
						</span>
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location5" value="無" checked="checked" class="auto-style5" />&nbsp; <span class="auto-style15">
							&nbsp;無
						</span><span class="auto-style12">
						</span>
					</label>
				</td>
			</tr>

			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">吃飯</span></strong></font>
					<img src="~/images/飲食情況(紫).png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location" value="不正常" class="auto-style5" /><span class="auto-style15">
							不正常
						</span>

					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location" value="正常" class="auto-style5" /><span class="auto-style15"> 正常</span><span class="auto-style12">
						</span>

					</label>
				</td>
			</tr>
			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">飲水</span></strong></font>
					<img src="../../images/飲水icon.png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location1" value="不正常" class="auto-style5" />
						<span class="auto-style15">
							&nbsp;不正常
						</span><span class="auto-style12">
						</span>
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location1" value="正常" class="auto-style5" /><span class="auto-style15"> 正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
			</tr>
			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">服藥</span></strong></font>
					<img src="../../images/醫藥箱icon(紫).png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location2" value="不正常" class="auto-style5" /><span class="auto-style15"> 不正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location2" value="正常" class="auto-style5" /><span class="auto-style15"> 正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
			</tr>
			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">睡眠</span></strong></font>
					<img src="../../images/特殊照顧(紫).png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location3" value="不正常" class="auto-style5" /><span class="auto-style15"> 不正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location3" value="正常" class="auto-style5" /><span class="auto-style15"> 正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
			</tr>
			<tr>
				<td class="auto-style16">
					<font color="#600000"><strong><span class="auto-style12">情緒</span></strong></font>
					<img src="../../images/笑臉icon(紫).png" align="center" class="auto-style12" />
					<span class="auto-style4"> </span>
				</td>
				<td class="auto-style13">
					<label>
						<input type="radio" name="location4" value="不正常" class="auto-style5" /><span class="auto-style15"> 不正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="location4" value="正常" class="auto-style5" /><span class="auto-style15"> 正常</span><span class="auto-style12">
						</span>
					</label>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<br />
		<table align="center" class="auto-style14">
			<tr>
				<td class="auto-style7">
					<font color="#600000"><strong><span class="auto-style9">家屬的叮嚀</span></strong></font>
				</td>
				<td>
					<label>
						<textarea id="TextArea1" class="auto-style6"></textarea>
					</label>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<br />
		<br />
		<div class="text-center">
			<input type="submit" class="btn btn-primary btn-lg" value="送出" />
			<br />
			<br />
			<br />
			<br />
		</div>
	</form>
	<p class="auto-style8">
		@Html.ActionLink("回首頁", "Familindex", "Home", new { @class = "btn btn-danger btn-lg" })
	</p>

</body>
</html>