<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員網路打卡頁面</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			text-align: center;
			font-size: large;
			font-family: 標楷體;
		}

		.auto-style2 {
			width: 333px;
			font-family: 標楷體;
		}
	</style>
	<script>
		$(function () {
			$('#offworkButton').click(function () {
				// var act_type = $('#offworkButton').prop("checked") ? 1:2;
				var act_type = 1;

				$.ajax({
					url: "/home/checkin",
					async: true,
					cache: false,
					method: "POST",
					data: {
						user_id: '28',
						type: 2,                               //1: 上班, 2:下班
						act_type: act_type                     //true: 打卡, false: 取消
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);

						if (data.code == "200") {
							alert(data.message);
							location.href = '/user/logout';
						}
						else {
							alert(data.message);
						}
					},
					error: function (xhr, stauts, err) {
						console.log(xhr, stauts, err);
					}
				});
			});
		});

		function doWork() {
			location.href = '/attendance/work/yes';
		}
	</script>
</head>

<body style="background-color:#FAF4FF; ">
	<div class="auto-style1">
		<marquee direction="up" scrollamount="1" class="auto-style2"><font color="#ff0099">公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告</font></marquee>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="auto-style1">
		<br />
		<br />
		<input type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("main_sign_in_success", "Home")'" value="到點打卡" style="width: 189px; height: 57px;font-size:25px ; color:#0000E3;font-weight:bold;"/>
		<br />
		<br />
		<br />

		<input type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Select_case_schedule", "Home") '" value="再次進入" style="width: 189px; height: 57px;font-size:25px ; color:#0000E3;font-weight:bold;"/>
	<br />
	<br />
	<br />
		<input type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("sign_out", "Home")'" value="離點打卡" style="width: 189px; height: 57px;font-size:25px ; color:#0000E3;font-weight:bold;"/>
	</div>
</body>
</html>
