<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>督導-(開案)其他評估</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">

		.auto-style1 {
			width: 32px;
			height: 40px;
		}

		.auto-style4 {
			text-align: right;
		}

		.auto-style5 {
			width: 390px;
			height: 34px;
		}

		.auto-style6 {
			font-family: 標楷體;
		}

		.auto-style7 {
			text-align: center;
		}

		.auto-style8 {
			width: 24px;
			height: 22px;
		}

		.auto-style14 {
			text-align: left;
		}

		.auto-style17 {
			font-family: 標楷體;
			width: 126px;
			text-align: center;
		}

		.auto-style42 {
			width: 99px;
			text-align: center;
		}
		.auto-style43 {
			text-align: left;
			width: 80px;
		}
		.auto-style45 {
			width: 80px;
		}
		.auto-style46 {
			font-family: 標楷體;
			width: 169px;
			text-align: center;
		}
		.auto-style47 {
			width: 270px;
			height: 62px;
		}
	</style>
</head>
	<body style="background-color:#FAF4FF; ">
	<div class="auto-style14">
		<input type="image" src="~/images/大於按鈕.png" class="auto-style1" /> <font color="#0d62c3" size="5">
			&nbsp;<br />
		</font>
		&nbsp;
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style17">
					<font color="#0d62c3" size="4" face="標楷體">環境評估</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						<input type="radio" name="location" value="正常" class="auto-style8" /> 正常
						<input type="checkbox" name="location" value="髒亂" class="auto-style8" /> 髒亂<br />
						<input type="checkbox" name="location1" value="安全疑慮" class="auto-style8" />安全疑慮
					</font>
				</td>
			</tr>
		</table>
		<p>
			&nbsp;
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style42" rowspan="2">
					<font color="#0d62c3" size="4">
						<span class="auto-style6">
							心理評估
						</span></font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style43" >
					<font color="#0d62c3" size="5">
							與自我
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						人生有什麼目標?目標有沒有達成?<br />
					<input type="radio" name="location1" value="是" class="auto-style8"/> 是 <input type="radio" name="location1" value="否" class="auto-style8"/> 否 
					<br />
					對於現在階段是否有什麼安排? 
					<br />
					<input type="radio" name="location2" value="是"class="auto-style8" /> 是 <input type="radio" name="location2" value="否"class="auto-style8" /> 否
					<br />
					談話中是否出現否定自我的存在價值  
					<br />
					<input type="radio" name="location3" value="是" class="auto-style8"/> 是 <input type="radio" name="location3" value="否" class="auto-style8"/> 否
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style43">
					<font color="#0d62c3" size="5">
						與他人
					</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5">
						是否有對親友感到不滿或不諒解  
					<br />
					<input type="radio" name="location4" value="是" class="auto-style8"/> 是 <input type="radio" name="location4" value="否" class="auto-style8"/> 否 
					<br />
						(觀察)能主動表現對他人關愛? 
					<br />
					<input type="radio" name="location5" value="是" class="auto-style8"/> 是 <input type="radio" name="location5" value="否" class="auto-style8"/> 否
					</font>
				</td>
			</tr>
		</table>
		<p>
			&nbsp;
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0"  rowspan="5" class="auto-style42">
					<font color="#0d62c3" size="4">
						<span class="auto-style6">
							靈性評估
						</span></font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style45">
					<font color="#0d62c3" size="5">
						與神祇
					</font>
				</td>
				<td bgcolor="#F0F0F0">
					<font color="#F67377" size="5">
						是否有宗教信仰<br />
						<input type="radio" name="location6" value="基督教" class="auto-style8" /> 基督教
						<input type="radio" name="location6" value="佛教" class="auto-style8" /> 佛教

						<br />
						<input type="radio" name="location6" value="道教" class="auto-style8" /> 道教
						<input type="radio" name="location6" value="天主教" class="auto-style8" /> 天主教
						 
					<br />
						<input type="radio" name="location6" value="回教" class="auto-style8" /> 回教

						<input type="radio" name="location6" value="無" class="auto-style8" /> 無
					</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F0F0F0" rowspan="3" class="auto-style45" align="center">
					<font color="#0d62c3" size="5">
						與大<br />
					自然
					</font>
				</td>
				<td bgcolor="#F0F0F0" >
					<font color="#F67377" size="5">
						談話中是否出現怨天尤人情形<br />
						<input type="radio" name="location7" value="是" class="auto-style8"/> 是 
						<input type="radio" name="location7" value="否" class="auto-style8"/> 否 
					</font>
						</td>
				</tr>
			<tr>
				<td bgcolor="#F0F0F0" >
					<font color="#F67377" size="5">
						能藉由宗教信仰或儀式帶來平靜<br />
						<input type="radio" name="location8" value="是" class="auto-style8"/> 是
						<input type="radio" name="location8" value="否" class="auto-style8"/> 否 
				</td>
			</tr>
				<tr>
				<td bgcolor="#F0F0F0" >
					<font color="#F67377" size="5">
						透露出珍愛身邊的人、事、物<br />
						<input type="radio" name="location9" value="是" class="auto-style8"/> 是 
						<input type="radio" name="location9" value="否" class="auto-style8"/> 否 
					</font>
				</td>
			</tr>

		</table>
		<p>
			<br />
		</p>
		<table align="center" class="auto-style5">
			<tr>
				<td bgcolor="#F0F0F0" class="auto-style46" >
					<font color="#0d62c3" size="4">特殊生活習慣</font>
				</td>
				<td bgcolor="#F0F0F0" class="auto-style14">
					<font color="#F67377" size="5" face="標楷體">
						<br />
						<input type="text" name="text" placeholder="例如:吃飯前一定要禱告" class="auto-style47" /><br />
&nbsp;</font></td>
			</tr>
		</table>
		<div class="auto-style7">
			<nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/Home/Case_basic_information_Home_Service_Supervisor">1</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Single_case_care_Home_Service_Supervisor">2</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Case_history_Home_Service_Supervisor">3</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Other_assessments_Home_Service_Supervisor">4</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Information_upload_Home_Service_Supervisor">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
			</nav>
		</div>
        <div class="auto-style4">
            <br />
            @Html.ActionLink("下一頁", "Information_upload_Home_Service_Supervisor", "Home", new { @class = "btn btn-warning btn-lg" })
            <br />
            <br />
            <br />
        </div>
	</div>
</body>
</html>
