<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>督導-(複評)跌倒評估</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">

		.auto-style1 {
			text-align: right;
		}
		.auto-style2 {
			width: 24px;
			height: 22px;
		}

		.auto-style3 {
			width: 121px;
			height: 55px;
		}

		.auto-style4 {
			width: 400px;
		}
		.auto-style5 {
			font-family: 標楷體;
			font-size: x-large;
			color: #F67377;
		}

		.auto-style6 {
			height: 55px;
		}

	</style>
</head>
<body style="background-color:#FAF4FF; ">
		<table align="center">
		<tr>
			<td  >
				<font color="#0d62c3" size="8">跌倒危險評估</font>
			</td>
		</tr>
	</table>
		<p>
			<br />
		</p>
	<table align="center" class="auto-style4">
		<tr>
			<td >
				<input type="checkbox" name="location" value="1.年齡:大於65歲" class="auto-style2"/>
			</td>
			<td class="auto-style3"  valign="top">
				<font color="#F67377" size="5" face="標楷體" >
					1.年齡:
				<br />
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					大於65歲。
				 
				<br />
				</font>
			</td>
		</tr>
				<tr>
			<td class="auto-style6" >
				<input type="checkbox" name="location1" value="2.最近三個月有跌倒情況" class="auto-style2"/>
			</td>
			<td valign="top" colspan="2" class="auto-style6">
				<font color="#F67377" size="5" face="標楷體">
					2.最近三個月有跌倒情況。<br />
				</font></td>
		</tr>
		<tr>
			<td  valign="top">
				<input type="checkbox" name="location2" value="3.個案性格:逞強、不願意麻煩他人、不遵從" class="auto-style2"/>
			</td>
			<td valign="top" class="auto-style3" >
				<font color="#F67377" size="5" face="標楷體">
					3.個案性格:<br />
&nbsp;</font></td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					逞強、不願意麻煩他人、不遵從。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td  valign="top">
				<input type="checkbox" name="location3" value="4.意識狀態:偶爾意識混亂或無法清楚理解別人或表達自己的意思" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top"  >
				<font color="#F67377" size="5" face="標楷體">
					4.意識狀態:
				</font>
			</td>
			<td  valign="top">
				<font color="#F67377" size="5" face="標楷體">
					偶爾意識混亂或無法清楚理解別人或表達自己的意思。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<input type="checkbox" name="location4" value="5.頭暈/暈眩:有眩暈的病史或主訴" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top" >
				<font color="#F67377" size="5" face="標楷體">
					5.頭暈/暈眩:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					有眩暈的病史或主訴。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<input type="checkbox" name="location5" value="6.視/聽覺:有視、聽覺模糊或障礙" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top" >
				<font color="#F67377" size="5" face="標楷體">
					6.視/聽覺:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					有視、聽覺模糊或障礙。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<input type="checkbox" name="location6" value="7.活動能力:有活動功能障礙,例如步態不穩健或不平衡,需他人或輔助器協助" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top" >
				<font color="#F67377" size="5" face="標楷體">
					7.活動能力:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					有活動功能障礙,例如步態不穩健或不平衡,需他人或輔助器協助。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td  valign="top">
				<input type="checkbox" name="location7" value="8.排泄:大小便須由他人協助或可自行處理但頻繁下床(頻尿/大/小便失禁)" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top" >
				<font color="#F67377" size="5" face="標楷體">
					8.排泄:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					大小便須由他人協助或可自行處理但頻繁下床(頻尿/大/小便失禁)。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td  valign="top">
				<input type="checkbox" name="location8" value="9.睡眠型態:晝夜顛倒或失眠" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top">
				<font color="#F67377" size="5" face="標楷體">
					9.睡眠型態:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					晝夜顛倒或失眠</font><span class="auto-style5">。<br />
				</span></td>
		</tr>
		<tr>
			<td  valign="top">
				<input type="checkbox" name="location9" value="10.有使用下列藥物:抗組織胺、抗高血壓、抗癲癇/抗經攀、鎮靜安眠劑藥、肌肉鬆弛劑、利尿劑、降血糖、抗抑鬱藥物" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top" >
				<font color="#F67377" size="5" face="標楷體">
					10.有使用下列藥物:
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					抗組織胺、抗高血壓、抗癲癇/抗經攀、鎮靜安眠劑藥、肌肉鬆弛劑、利尿劑、降血糖、抗抑鬱藥物。
				 
				<br />
				</font>
			</td>
		</tr>
		<tr>
			<td valign="top" >
				<input type="checkbox" name="location10" value="11.衣著(含鞋子):衣著不合宜(衣服寬鬆、褲子太長、鞋子易滑)" class="auto-style2"/>
			</td>
			<td class="auto-style3" valign="top">
				<font color="#F67377" size="5" face="標楷體">
					11.衣著(含鞋子):
				</font>
			</td>
			<td valign="top">
				<font color="#F67377" size="5" face="標楷體">
					衣著不合宜(衣服寬鬆、褲子太長、鞋子易滑)。
				<br />
				</font>
			</td>
		</tr>

	</table>
	<div class="auto-style1">
		<br />
		<a href="'@Url.Action("Reopen_Case_history_Home_Service_Supervisor", "Home")'" class="btn btn-warning btn-lg ">上一頁</a>
	</div>
</body>
</html>
