<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-安全題目</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			width: 300px;
			height: 300px;
		}

		.auto-style2 {
			text-align: left;
			width: 390px;
		}

		.auto-style3 {
			text-align: right;
		}

		.auto-style4 {
			font-family:標楷體;
			font-size: xx-large;
		}

		.auto-style5 {
			font-size: x-large;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; ">
	<div class="auto-style2">
		<span class="auto-style4">一、</span><br />
		<div class="text-center"><img src="../../images/火災.png" class="auto-style1" /></div><br />
		<br />
		<br />
		<br />
		<br />
		<span class="auto-style4">二、</span><br />
		<br />
		<div class="text-center"><img src="../../images/放鞭炮.png" class="auto-style1" /></div><br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style5">三、</span><br />
		<div class="text-center"><img src="../../images/玩水.png" class="auto-style1" /></div>
		<br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">四、</span><br />
		<div class="text-center">		<img src="../../images/玩電器.png" class="auto-style1" /></div>
		<br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">五、</span><br />
		<div class="text-center"><img src="../../images/消防.png" class="auto-style1" /></div>
		<br />
		<br />
		<br />
		<br />
		<br /><br />
		<span class="auto-style4">六、</span><br />
		<div class="text-center"><img src="../../images/撿球.png" class="auto-style1" /></div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<p class="auto-style3">@Html.ActionLink("返回", "Guardian_of_the_month_Home_attendant", "Home", new { @class = "btn btn-danger btn-lg" })</p>
	</div>
</body>
</html>
