<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-照顧交辦單</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
			font-size: x-large;
			color: #FFFFFF;
			background-color: #0d62c3;
		}

		
		.auto-style3 {
			width: 300px;
		}


		.auto-style5 {
			width: 325px;
		}
		.auto-style7 {
			font-family:標楷體;
			font-size: medium;
		}
		.auto-style8 {
			font-family: 標楷體;
			font-size: large;
			color: #0D62C3;
			width: 35px;
			height: 21px;
		}
		.auto-style9 {
			font-family:標楷體;
			font-size: large;
		}
		</style>
</head>

<body style="background-color:#FAF4FF; ">
	<div class="auto-style1">
		每次工作紀錄
	</div>
	<br />
	<br />
	<table align="center" class="auto-style5" border="1">
		<tr>
			<td class="auto-style3">
				<font face="標楷體" size="5">
					<strong>
						<span class="auto-style7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
						<span class="auto-style9">個別化照顧計畫 </span>
					</strong>
					<span class="auto-style7">
						<br />
						<br />
					</span>
					<span class="auto-style9">
						核定項目:

						<br />
						<br />
						照顧目標:&nbsp; 個案
					</span><img src="../../images/箭頭.png" class="auto-style8" />
					<span class="auto-style7">
						<br class="auto-style9" />
						<br class="auto-style9" />
					</span>
					<span class="auto-style9">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 家屬
					</span><img src="../../images/箭頭.png" class="auto-style8" />
					<span class="auto-style9">
						<br />
						<br />

						溫度照顧(情緒):

						<br />
						<br />
						活動照顧(生理):<br />
						<br />

						生活照顧(代碼):<br />
						<br />

						守護照顧(變化):<br />
						<br />

						照顧注意事項:
					</span><span class="auto-style7">
						<br />
						<br />
					</span>
				</font>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" ace="標楷體">姓名:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">暱稱:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">慣用語言:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">母語:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">喜歡的話題:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">興趣/喜好:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">過去職業:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">經濟狀況:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">現在個性:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">禁忌:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">易接受方式:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">照顧期待:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">緊急聯絡人:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">主要照顧者:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">疾病史:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">用藥習慣:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">營養面相:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">飲食面相:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">口腔面相:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">排泄型態:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">循環狀況:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">環境評估:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">心理評估:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">靈性評估:</font></div><br />
	<div style="background-color:white" class="auto-style7"><font color="#0d62c3" size="5" face="標楷體">特殊生活習慣:</font></div>



	<div class="text-right">
		<br />
		<br />
		@Html.ActionLink("上一頁", "Home_attendant_index", "Home", new { @class = "btn btn-danger btn-lg" })
	</div>
</body>
</html>

