<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>照服員-溫度照顧</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			font-size: large;
		}

		.auto-style3 {
			font-family: 標楷體;
			width: 37px;
			height: 29px;
		}

		.auto-style6 {
			font-family: 標楷體;
			font-size: medium;
		}

		.auto-style7 {
			font-family: 標楷體;
			font-size: small;
		}

		.auto-style8 {
			font-family: 標楷體;
			width: 150px;
			height: 150px;
		}

		.auto-style10 {
			font-family: 標楷體;
			font-size: x-large;
		}

		.auto-style14 {
			font-family: 標楷體;
			width: 76px;
			text-align: center;
		}

		.auto-style15 {
			width: 342px;
			height: 75px;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; ">
	<div style="background-color:#0d62c3;" class="auto-style1">
		<Font color="#FFFFFF" size="5" face="標楷體">
			每次工作紀錄

		</Font>
	</div>
	<br />
	<table align="center">
		<tr>
			<td bgcolor="#FF4081">
				<font color="#FFFFFF" size="5" face="標楷體">&nbsp;&nbsp; <span class="auto-style10">必選項目 自立生活訓練</span> <img src="../../images/必選項目.png" class="auto-style3" /></font>
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table style="border:2px #0d62c3" border="1" align="center">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style14">
				<font color="#0d62c3" face="標楷體">
					<strong>
						<span class="auto-style6">
							健口運動
						</span>
					</strong>
				</font>
			</td>
			<td bgcolor="#FFFFFF">
				<font size="5" face="標楷體">
					<span class="auto-style6">
						健口操
						<br />
						<a href="https://www.youtube.com/watch?v=ZYgjKHwyA4g">https://www.youtube.com/watch?v=ZYgjKHwyA4g</a>
						<br />
						<br />
						依照手機健口操影片 完整完成一次
					</span>
				</font>
			</td>
		</tr>
	</table>
	<table style="border:1px #0d62c3" border="1" align="center">
		<tr>
			<td bgcolor="#FFFFFF" class="auto-style14">
				<font color="#0d62c3" face="標楷體">
					<strong>
						<span class="auto-style6">
							活化運動
						</span><span class="auto-style7">
						</span>
					</strong>
				</font>
			</td>
			<td bgcolor="#FFFFFF">
				<font size="5" face="標楷體" class="auto-style7">
					<span class="auto-style6">
						1.樂齡指導: 座椅活氧暖身
						<br />
						<a href="https://www.youtube.com/watch?v=cmELFpqNs2w">https://www.youtube.com/watch?v=cmELFpqNs2w</a><br />
						<br />
						2.樂齡指導: 座椅fun鬆伸展

						<br />
						<br />
						<a href="https://www.youtube.com/watch?v=-zh8gVqzy70">https://www.youtube.com/watch?v=-zh8gVqzy70</a>
						<br />
						<br />
						依照手機健口操影片 完整完成一次
					</span>
				</font>
			</td>
		</tr>
	</table>

	<br />
	<br />
	<table align="center" class="auto-style15">
		<tr>
			<td class="auto-style2">
				第一步 : 請點選"選擇檔案"。<br />
				第二步:進行拍照。 <br>
				第三步 : 存檔。

			</td>
		</tr>
	</table>

	<br />
	<br />
	<form action="@Url.Action("Temperature_care")" enctype="multipart/form-data" method="post">
		<div class="text-center">
			<input type="file" id="photo" name="Required_items_Home_attendantloc" onchange="document.getElementById('BA00').src = window.URL.createObjectURL(this.files[0])">
			<div class="text-center">
				&nbsp;<br />
				<img src="~/images/照片1.jpg" id="BA00" alt="your image" class="auto-style8" />
			</div>
		</div>
		<!--
		<table align="center">
			<tr>
				<td class="auto-style5">
					<font face="標楷體" color="#8d2c4d" size="5" class="auto-style6">
						<strong>
							服務<br />
							紀錄
						</strong>
					</font>
				</td>
				<td class="auto-style4">
					<input type="file" onchange="document.getElementById('BA00').src = window.URL.createObjectURL(this.files[0])">
					<br />
					<img src="../../images/照片icon.png" id="BA00" alt="your image" class="auto-style8" />
				</td>
			</tr>
		</table>-->
		<div class="auto-style1">
			<br />
			<br />
			<input type="submit" class="btn btn-primary btn-lg" value="存檔" onclick="location.href = window.alert('已存檔');" />
			<br />
			<br />
			<br />
		</div>
	</form>
	<div class="text-right">
		<input type="button" class="btn btn-danger btn-lg" value="上一頁" onclick="location.href = '@Url.Action("Daily_care_record_Home_attendant", "Home")'" />

	</div>
	</div>
</body>
</html>
